.prj-breadcrumb-component {
  // パンくずリスト
  // 2番目のリストからは左に"＞"を付ける
  ol {
    display: flex;
    align-items: center;
    gap: 4px;
    li {
      font-size: 12px;
      line-height: 1.43; // 12/16
      font-weight: 400;
      color: var(--text-primary);
      a {
        color: var(--text-primary);
        // current以外のa要素にカーソルポインターを表示
        &.current {
          cursor: default;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    // 1以外のリストには"＞"を付ける
    li:not(:first-child) {
      &::before {
        content: ">";
        margin-right: 4px;
      }
    }
  }
}
