<footer class="footer prj-section-component bg-bg-primary" role="contentinfo">
  <div class="prj-section-container">
    <!-- head -->
    <div class="prj-cta-registration-component">
      <h2 id="registration-heading" class="prj-cta-registration-title">登録登録</h2>
      <p class="prj-cta-registration-text">
        ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。<br />ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
      </p>
      <a class="prj-cta-registration-button prj-button-more-component bg-bg-primary text-white"
        aria-labelledby="registration-heading">
        ダミーリンクです
        <span class="material-symbols-outlined icon-expand-circle-right-lg text-white" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>

    <!-- body -->
    <div class="overflow-hidden flex flex-col sm:flex-row sm:justify-between mt-5 sm:mt-10 mb-5 gap-5">
      <a href="#" class="w-[199px] h-[152px] mx-auto sm:mx-0">
        <img src="assets/images/theme-a/theme-a-logo.png" alt="サイトロゴ" width="199" height="152" loading="lazy" />
      </a>
      <nav class="text-white text-sm font-medium flex justify-between items-start text-left sm:gap-[96px]"
        aria-label="フッターナビゲーション">
        <ul class="space-y-[10px]">
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
        </ul>
        <ul class="space-y-[10px]">
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
          <li>
            <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- foot -->
    <div
      class="pt-[21px] border-t border-white text-white text-sm font-medium flex flex-col sm:flex-row justify-center items-center sm:justify-between sm:items-center text-left gap-5 sm:gap-0">
      <p class="text-xs font-medium text-white">©2025 コピーライト.All Rights Reserved.</p>
      <!-- sns -->
      <nav aria-label="SNSリンク">
        <ul class="flex gap-5">
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Instagramページへ">
              <img class="w-[26.43px] h-[26.43px]" src="assets/images/theme-a/theme-a-sns-instagram.svg" alt=""
                aria-hidden="true" width="24" height="24" loading="lazy" />
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Facebookページへ">
              <img class="w-[26.43px] h-[26.27px]" src="assets/images/theme-a/theme-a-sns-facebook.svg" alt=""
                aria-hidden="true" width="26.43" height="26.27" loading="lazy" />
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Xページへ">
              <img class="w-[26.43px] h-[23.87px]" src="assets/images/theme-a/theme-a-sns-x.svg" alt=""
                aria-hidden="true" width="26.43" height="23.87" loading="lazy" />
              <span class="sr-only">X</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>