<section class="special-thanks prj-section-component bg-bg-theme-1" aria-labelledby="special-thanks-heading">
  <div class="prj-section-container !px-0">
    <h2 id="special-thanks-heading" class="sr-only">SPECIAL THANKS</h2>
    <div class="flex justify-center items-center flex-wrap gap-[14px] md:gap-[28px]">
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]"
          src="assets/images/theme-a/theme-a-thanks-1.jpg" alt="スポンサー1のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" aria-label="スポンサー2のウェブサイトへ">
        <img class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]"
          src="assets/images/theme-a/theme-a-thanks-2.jpg" alt="スポンサー2のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー3のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-3.jpg" alt="スポンサー3のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー4のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-4.jpg" alt="スポンサー4のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー5のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-5.jpg" alt="スポンサー5のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー6のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-6.jpg" alt="スポンサー6のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー7のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-7.jpg" alt="スポンサー7のロゴ" loading="lazy" width="255" height="75" />
      </a>
      <a href="#" class="block w-[168px] h-[49.41px] md:w-[255px] md:h-[75px]" aria-label="スポンサー8のウェブサイトへ">
        <img src="assets/images/theme-a/theme-a-thanks-8.jpg" alt="スポンサー8のロゴ" loading="lazy" width="255" height="75" />
      </a>
    </div>
  </div>
</section>