<section class="community prj-section-component bg-bg-theme-1" aria-labelledby="community-section-title">
  <div class="prj-section-container">
    <div class="prj-section-head md:mb-[28px] md:p-[10px] md:pl-0">
      <h2 id="community-section-title" class="prj-title-component">COMMUNITY</h2>
      <a href="#" class="prj-text-link-more-component hidden md:flex" aria-label="コミュニティの一覧ページへ">
        一覧を見る
        <span class="prj-text-link-more-icon material-symbols-outlined icon-expand-circle-right-lg" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>
    <div class="prj-section-body">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 lg:gap-5 justify-items-center">
        <!-- カードコンポーネント1 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-1.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント2 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-2.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント3 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-3.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント4 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-4.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント5 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-5.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント6 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-6.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント7 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-7.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント8 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-8.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント9 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-9.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>

        <!-- カードコンポーネント10 -->
        <a href=""
          class="prj-card-community-component card card-hover !duration-100 bg-white rounded-xl md:rounded-2xl py-[10.73px] px-[14.54px] md:py-[17px] md:px-[15px]"
          aria-label="九州キャンプ&九州キャンパーの集いコミュニティページへ">
          <div class="prj-card-community-head">
            <div
              class="prj-card-community-image w-[72.73px] h-[72.73px] md:w-[100px] md:h-[100px] shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">
              <img src="assets/images/theme-a/theme-a-community-10.png" alt="九州キャンプ&九州キャンパーの集いのロゴ" loading="lazy"
                width="100" height="100" />
            </div>
          </div>
          <div class="prj-card-community-body mt-3 md:mt-4">
            <h3 class="prj-card-community-title">
              九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
            </h3>
          </div>
          <div class="prj-card-community-foot mt-[5.8px] md:mt-2">
            <!-- コミニティメンバーの人数 -->
            <div class="prj-card-community-member-count">
              <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm" aria-hidden="true">
                groups
              </span>
              <p class="prj-card-community-member-text">メンバー</p>
              <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="prj-section-foot mt-[40px] md:hidden p-[10px] pl-0">
      <a href="#" class="prj-text-link-more-component" aria-label="コミュニティの一覧ページへ">
        一覧を見る
        <span class="material-symbols-outlined icon-expand-circle-right-lg text-primary" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>
  </div>
</section>