<div>
  <div class="visual-wrapper relative bg-primary sm:pt-[var(--header-height-md)]">
    <!-- MV -->
    <section class="mv flex flex-col justify-center h-[520px] sm:h-[786px]">
      <!-- 背景画像、スライド -->
      <!-- 背景画像が1枚の場合 -->
      <div class="single-image-container w-full h-full hidden">
        <img src="assets/images/theme-a/theme-a-mv-bg-1.jpg" alt="背景画像"
          class="absolute inset-0 w-full h-full object-cover" />
        <!-- ロゴ -->
        <div class="absolute top-[1%] sm:top-[2%] left-1/2 -translate-x-1/2 flex justify-center items-center">
          <div class="relative w-[150px] sm:w-[260px] h-[150px] sm:h-[260px] flex justify-center items-center">
            <img src="assets/images/theme-a/theme-a-logo.png" alt="テーマ名ロゴ" width="260" height="260" loading="lazy" />
          </div>
        </div>
      </div>
      <!-- 背景画像が複数の場合（Swiper使用） -->
      <div class="multiple-images-container relative w-full h-full">
        <div class="swiper mv-bg-swiper w-full h-full">
          <div class="swiper-wrapper">
            <!-- スライド1 -->
            <div class="swiper-slide w-full h-full">
              <img src="assets/images/theme-a/theme-a-mv-bg-1.jpg" alt="スライド1背景"
                class="relative inset-0 w-screen h-full object-cover" />
              <!-- 各スライド専用のロゴ -->
              <div
                class="absolute top-[1%] sm:top-[2%] left-1/2 -translate-x-1/2 flex justify-center items-center z-10">
                <div class="relative w-[150px] sm:w-[260px] h-[150px] sm:h-[260px] flex justify-center items-center">
                  <img src="assets/images/theme-a/theme-a-logo.png" alt="テーマ名ロゴ1" width="260" height="260"
                    loading="lazy" />
                </div>
              </div>
            </div>

            <!-- スライド2 -->
            <div class="swiper-slide w-full h-full">
              <img src="assets/images/theme-a/theme-a-mv-bg-2.jpg" alt="スライド2背景"
                class="relative inset-0 w-screen h-full object-cover" />
              <!-- 各スライド専用のロゴ -->
              <div
                class="absolute top-[1%] sm:top-[2%] left-1/2 -translate-x-1/2 flex justify-center items-center z-10">
                <div class="relative w-[150px] sm:w-[260px] h-[150px] sm:h-[260px] flex justify-center items-center">
                  <img src="assets/images/theme-a/theme-a-logo.png" alt="テーマ名ロゴ2" width="260" height="260"
                    loading="lazy" />
                </div>
              </div>
            </div>

            <!-- スライド3 -->
            <div class="swiper-slide w-full h-full">
              <img src="assets/images/theme-a/theme-a-mv-bg-3.jpg" alt="スライド3背景"
                class="relative inset-0 w-screen h-full object-cover" />
              <!-- 各スライド専用のロゴ -->
              <div
                class="absolute top-[1%] sm:top-[2%] left-1/2 -translate-x-1/2 flex justify-center items-center z-10">
                <div class="relative w-[150px] sm:w-[260px] h-[150px] sm:h-[260px] flex justify-center items-center">
                  <img src="assets/images/theme-a/theme-a-logo.png" alt="テーマ名ロゴ3" width="260" height="260"
                    loading="lazy" />
                </div>
              </div>
            </div>
          </div>

          <!-- ページネーション -->
          <div class="swiper-pagination !top-[278px] hidden sm:!flex"></div>
        </div>
      </div>
      <!-- 背景画像、スライド〆 -->
    </section>
    <!-- Swiperカルーセル -->
    <%- include ('./theme-a-top-mv-carousel.ejs') %>
  </div>
  <!-- AD-1 -->
  <%- include ('./theme-a-top-ad-1.ejs') %>
</div>