@use "../variables" as *;
@use "../mixins" as *;
/* theme-cテーマ固有の変数 （ CSS変数で定義 ） */
/* theme-cテーマ固有のスタイル */

.theme-c-theme {
  // テーマカラー
  --theme-primary: #eb9c0a;
  // テーマカラー（訪問済み）
  --theme-primary-visited: rgba(235, 10, 30, 0.6);

  // 背景カラー
  --theme-bg-primary: var(--theme-primary);
  --theme-bg-1: #f2f2f2;

  // カテゴリータグカラー
  --theme-category-1: #e5e2e2;
  --theme-category-2: #014a74;
  --theme-category-3: #726f63;
  --theme-category-4: #6a7d8c;
  --theme-category-5: #c13333;
  --theme-category-6: #737373;

  // ランキングカラー
  --theme-ranking-1: #bea870;
  --theme-ranking-2: #a1a1aa;
  --theme-ranking-3: #997a5c;
  --theme-ranking-4: #ffffff;
  --theme-ranking-5: #ffffff;
  --theme-ranking-6: #ffffff;
  --theme-ranking-7: #ffffff;
  --theme-ranking-8: #ffffff;
  --theme-ranking-9: #ffffff;
  --theme-ranking-10: #ffffff;

  // 角丸
  --theme-border-radius: 4px;
  --theme-border-radius-header: var(--theme-border-radius);
  --theme-border-radius-card: var(--theme-border-radius);

  // シャドー
  --theme-box-shadow: 2px 2px 2px 0px #00000040; // カテゴリ選択ボタン、ランキングスイッチボタン

  // セクションタイトルの装飾(縦棒+下線)
  .prj-title-component {
    position: relative;
    padding-left: 20px;
    width: 100%;
    &::before {
      content: "";
      left: 0px;
      top: 50%;
      transform: translateY(-42%);
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 24px;
      background-color: var(--theme-primary);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: #bcbcbc;
    }
  }
  .prj-header-component {
    @include sm {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    @include md {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    @include lg {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    @include xl {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .prj-card-component {
    .prj-card-head {
      .swiper-button-prev,
      .swiper-button-next {
        @include xs {
          width: 20px;
          height: 24px;
        }
      }
    }
    .prj-card-title {
      min-height: 52px;
    }
  }

  // カテゴリ選択モーダルメニュー
  .prj-modal-category-container {
    @include sm {
      border-radius: 6px;
    }
    @include md {
      border-radius: 6px;
    }
    @include lg {
      border-radius: 6px;
    }
    @include xl {
      border-radius: 6px;
    }
  }

  // タグコンポーネント
  .prj-tag-component {
    .prj-tag-link {
      box-shadow: 0px 4px 2px 0px #0000000d !important;
      border: 1px solid #777777 !important;
    }
    .prj-tag-name {
      &::before {
        color: var(--text-primary) !important;
      }
    }
  }

  // フッター
  .footer.prj-section-component {
    @include xs {
      padding-bottom: calc(var(--footer-padding-bottom-add) + 40px);
    }
  }
}
