@use "../variables" as *;
@use "../mixins" as *;
@use "./_theme-theme-b";

/* トップページ（theme-b）専用スタイル */
.theme-b-theme {
  // 英数字フォント
  --font-family-en: "Montserrat", sans-serif;

  // セクションパディング（縦）
  --theme-section-padding-y-xs: 40px;
  --theme-section-padding-y-sm: 64px;
  --theme-section-padding-y-md: 64px;
  --theme-section-padding-y-lg: 64px;
  --theme-section-padding-y-xl: 64px;
  // セクションパディング（横）
  --theme-section-padding-x-xs: 20px;
  --theme-section-padding-x-sm: 20px;
  --theme-section-padding-x-md: 64px;
  --theme-section-padding-x-lg: 0px; //64px memo
  --theme-section-padding-x-xl: 0px; //64px memo

  // コンテンツ幅
  --theme-content-width-xs: 100%;
  --theme-content-width-sm-1: 864px; //FOLLOW
  --theme-content-width-sm-2: 896px; //NEW, PICKUP, AD-2
  --theme-content-width-sm-3: 944px; //RANKING
  --theme-content-width-sm-4: 984px; //COMMUNITY, NEWS, SPECIALTHANKS
  --theme-content-width-sm-5: 912px; //FOOTER
  --theme-content-width-md: 1110px;
  --theme-content-width-lg: 1110px;
  --theme-content-width-xl: 1590px;

  // コンテンツパディング(横)
  --theme-content-padding-x-xs: 0px;
  --theme-content-padding-x-sm: 0px; //64px memo
  --theme-content-padding-x-md: 0px; //64px memo
  --theme-content-padding-x-lg: 0px; //64px memo
  --theme-content-padding-x-xl: 0px; //64px memo

  // タイトル
  --theme-title-font-size: 24px;
  --theme-title-line-height: 1.33; // 24/32
  --theme-title-font-weight: 600;
  --theme-title-color: var(--text-primary);

  .swiper {
    .section-swiper-button-prev,
    .section-swiper-button-next {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(4px);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
      .material-symbols-outlined {
        font-variation-settings: "wght" 200, "GRAD" 0, "opsz" 48;
        font-size: 56.68px;
        color: #333333;
      }
    }
    .section-swiper-button-prev {
      transform: translate(-40%, -50%);
      .material-symbols-outlined {
        transform: translateX(20%);
      }
    }
    .section-swiper-button-next {
      transform: translate(40%, -50%);
      .material-symbols-outlined {
        transform: translateX(-20%);
      }
    }
  }
  .prj-section-component {
    .prj-section-head {
      margin-bottom: 32px;
      @include sm {
        margin-bottom: 36px;
      }
      @include md {
        margin-bottom: 36px;
      }
      @include lg {
        margin-bottom: 36px;
      }
      @include xl {
        margin-bottom: 36px;
      }
    }
  }
  .prj-card-component {
    .prj-card-title {
      margin-bottom: 10px;
      font-weight: 700;
      @include sm {
        font-size: 14px;
      }
      @include md {
        font-size: 14px;
      }
    }
    .prj-card-author-info {
      border-top: 1px solid var(--text-primary);
    }
  }
  .ranking {
    .prj-content-sort-switch-button-3col-icon-component {
      background-color: white;
      border-radius: 9999px;
      border: 1px solid #777777;
      .prj-content-sort-switch-button-item {
        border-radius: 0;
        &:not(:last-child) {
          border-right: 1px solid #777777;
        }
      }
    }
    .prj-card-author-info {
      border-top: none;
    }
    @include xs {
      // カードのホバーアクション（ホバー時にカードが浮く）を無効化
      .card-hover:hover {
        transform: none !important;
        box-shadow: none !important;
      }
    }
  }
  .follow,
  .new,
  .pickup,
  .ranking {
    .prj-title-component {
      font-family: var(--font-family-en);
    }
  }
  .community {
    .swiper {
      .section-swiper-button-prev {
        transform: translate(-40%, -90%);
      }
      .section-swiper-button-next {
        transform: translate(40%, -90%);
      }
    }
    .image-frame {
      border-radius: 50%;
      .prj-card-commnity-image {
        width: 180px;
        height: 180px;
        @include md {
          width: 200px;
          height: 200px;
        }
        @include lg {
          width: 200px;
          height: 200px;
        }
        @include xl {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .prj-side-menu-main-component {
    box-shadow: none !important;
    padding: 60px 0 !important;
    .prj-side-menu-main-container {
      margin: 0 0 0 auto !important;
      width: 230px !important;
    }
  }
}
