<section class="special-thanks prj-section-component !px-0" aria-labelledby="special-thanks-heading">
  <div class="prj-section-container md:!max-w-[912px] lg:!max-w-[998px] xl:!max-w-[1478px] !px-0">
    <h2 id="special-thanks-heading" class="sr-only">SPECIAL THANKS</h2>
    <div class="prj-section-body flex justify-center items-center flex-wrap">
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-1.jpg" alt="スポンサー1のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-2.jpg" alt="スポンサー2のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-3.jpg" alt="スポンサー3のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-4.jpg" alt="スポンサー4のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-1.jpg" alt="スポンサー1のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-2.jpg" alt="スポンサー1のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-5.jpg" alt="スポンサー1のロゴ" loading="lazy" width="245" height="75" />
      </a>
      <a href="#" aria-label="スポンサー1のウェブサイトへ">
        <img src="assets/images/theme-b/theme-b-thanks-3.jpg" alt="スポンサー1のロゴ" loading="lazy" width="245" height="75" />
      </a>
    </div>
  </div>
</section>