<section class="news prj-section-component md:!px-5 lg:!px-0" aria-labelledby="news-section-title">
  <div class="prj-section-container md:!max-w-full flex flex-col border-[1px] border-[#333]">
    <div class="prj-section-head bg-bg-primary border-b-[1px] border-[#333] !mb-0 py-5 px-4 sm:py-5 sm:px-10">
      <h2 id="news-section-title" class="prj-title-component flex items-center cursor-pointer hover:text-primary group">
        NEWS
        <span
          class="material-symbols-outlined icon-expand-circle-right-lg ml-5 mt-[3px] group-hover:text-primary transition-all"
          aria-hidden="true" role="presentation">
          expand_circle_right
        </span>
      </h2>
    </div>
    <div class="prj-section-body sm:flex-1">
      <ul class="flex flex-col !border-none">
        <li class="border-b-[1px] border-dashed border-[#333] last:border-b-0">
          <a href="#"
            aria-label="2024年1月1日のニュース：お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start md:items-center gap-2 sm:gap-5 py-3 px-4 sm:py-5 sm:px-10 bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div
              class="w-fit h-9 leading-9 px-5 border-[1px] border-[var(--text-primary)] rounded-[var(--theme-border-radius-header)] bg-white text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
        <li class="border-b-[1px] border-dashed border-[#333] last:border-b-0">
          <a href="#"
            aria-label="2024年1月1日のニュース：お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start md:items-center gap-2 sm:gap-5 py-3 px-4 sm:py-5 sm:px-10 bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div
              class="w-fit h-9 leading-9 px-5 border-[1px] border-[var(--text-primary)] rounded-[var(--theme-border-radius-header)] bg-white text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
        <li class="border-b-[1px] border-dashed border-[#333] last:border-b-0">
          <a href="#"
            aria-label="2024年1月1日のニュース：お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start md:items-center gap-2 sm:gap-5 py-3 px-4 sm:py-5 sm:px-10 bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div
              class="w-fit h-9 leading-9 px-5 border-[1px] border-[var(--text-primary)] rounded-[var(--theme-border-radius-header)] bg-white text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>