<section
  class="community prj-section-component overflow-hidden md:pt-[52px] xl:!max-w-none mx-auto bg-bg-theme-1 xs:!px-0 sm:!px-0 md:!px-0 border-y-[1px] border-black md:border-[1px] md:border-text-primary md:rounded-[var(--theme-border-radius-card)]"
  aria-labelledby="community-section-title">
  <div class="prj-section-container lg:!max-w-[100%]">
    <div
      class="prj-section-head box-content p-0 sm:px-5 md:p-[10px] sm:max-w-[896px] md:max-w-[1110px] md:pl-[64px] md:pr-[74px] mx-auto md:py-[10px] lg:max-w-[1014px] lg:!pl-0 lg:pr-[10px] xl:max-w-[1494px]">
      <h2 id="community-section-title" class="prj-title-component">COMMUNITY</h2>
      <a href="#" class="prj-text-link-more-component hidden md:flex" aria-label="コミュニティの一覧ページへ">
        一覧を見る
        <span class="prj-text-link-more-icon material-symbols-outlined icon-expand-circle-right-lg" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>
    <div class="prj-section-body">
      <div class="swiper theme-b-community-swiper !overflow-visible">
        <div class="swiper-wrapper justify-center">
          <!-- カードコンポーネント1 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-1.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント2 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-2.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント3 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-3.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント4 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-4.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント5 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-5.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント6 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-6.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント7 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-7.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント8 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-8.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント9 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-9.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント10 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-10.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント1 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-1.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント2 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-2.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント3 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-3.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント4 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-4.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント5 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-5.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント6 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-6.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント7 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-7.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント8 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-8.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント9 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-9.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント10 -->
          <div class="swiper-slide !w-[180px] md:!w-[200px]">
            <a href="" class="prj-card-community-component" aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head image-frame">
                <div class="prj-card-community-image">
                  <img src="assets/images/theme-b/theme-b-community-10.jpg" alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像"
                    loading="lazy" width="180" height="180" />
                </div>
              </div>
              <div class="prj-card-community-body mt-[22px]">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- ナビゲーションボタン -->
        <button type="button" class="section-swiper-button-prev translate-x-[40%] translate-y-[90%]"
          aria-label="前のスライドへ">
          <span class="material-symbols-outlined icon-chevron-lg" aria-hidden="true">
            chevron_left
          </span>
        </button>
        <button type="button" class="section-swiper-button-next" aria-label="次のスライドへ">
          <span class="material-symbols-outlined icon-chevron-lg" aria-hidden="true">
            chevron_right
          </span>
        </button>
      </div>
    </div>
    <div class="prj-section-foot mt-[20px] md:hidden sm:!pr-[20px]">
      <a href="#" class="prj-text-link-more-component" aria-label="コミュニティの一覧ページへ">
        もっと見る
        <span class="material-symbols-outlined icon-expand-circle-right-lg text-primary" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>
  </div>
</section>