<section class="ad-2 prj-section-component lg:!hidden" aria-labelledby="ad-banners-heading">
  <div class="prj-section-container">
    <h2 id="ad-banners-heading" class="sr-only">広告バナー</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-5 justify-items-center w-fit mx-auto">
      <a href="#" class="image-frame" aria-label="広告バナー1の詳細ページへ">
        <img src="assets/images/theme-b/theme-b-ad-2-banner-1.jpg" alt="広告バナー1" loading="lazy" width="200"
          height="200" />
      </a>
      <a href="#" class="image-frame" aria-label="広告バナー2の詳細ページへ">
        <img src="assets/images/theme-b/theme-b-ad-2-banner-2.jpg" alt="広告バナー2" loading="lazy" width="200"
          height="200" />
      </a>
      <a href="#" class="image-frame" aria-label="広告バナー3の詳細ページへ">
        <img src="assets/images/theme-b/theme-b-ad-2-banner-3.jpg" alt="広告バナー3" loading="lazy" width="200"
          height="200" />
      </a>
      <a href="#" class="image-frame" aria-label="広告バナー4の詳細ページへ">
        <img src="assets/images/theme-b/theme-b-ad-2-banner-4.jpg" alt="広告バナー4" loading="lazy" width="200"
          height="200" />
      </a>
    </div>
  </div>
</section>