<section class="special-thanks prj-section-component bg-bg-theme-1" aria-labelledby="special-thanks-title">
  <div class="prj-section-container !px-0">
    <div class="prj-section-head">
      <h2 id="special-thanks-title" class="prj-title-component">SPECIAL THANKS</h2>
    </div>
    <div class="flex justify-center items-center flex-wrap gap-x-[14px] gap-y-[12px] md:gap-x-[56px] md:gap-y-[20px]">
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー1のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-1.jpg" alt="スポンサー1のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー2のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-2.jpg" alt="スポンサー2のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー3のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-3.jpg" alt="スポンサー3のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー4のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-4.jpg" alt="スポンサー4のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー5のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-5.jpg" alt="スポンサー5のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー6のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-6.jpg" alt="スポンサー6のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー7のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-1.jpg" alt="スポンサー7のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[168px] md:max-w-[250px]" aria-label="スポンサー8のウェブサイトへ">
        <img class="block aspect-[168/49.41]" src="assets/images/theme-c/theme-c-thanks-2.jpg" alt="スポンサー8のロゴ"
          loading="lazy" width="250" height="75" />
      </a>
    </div>
  </div>
</section>