<section class="community prj-section-component overflow-hidden bg-bg-theme-1"
  aria-labelledby="community-section-title">
  <div class="prj-section-container">
    <div class="prj-section-head !mb-[76px]">
      <h2 id="community-section-title" class="prj-title-component">COMMUNITY</h2>
    </div>
    <div class="prj-section-body">
      <div class="swiper theme-c-community-swiper !overflow-visible">
        <div class="swiper-wrapper">
          <!-- カードコンポーネント1 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-1.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント2 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-2.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント3 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-3.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント4 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-4.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント5 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-5.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント6 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-6.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント7 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-7.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント8 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-8.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント9 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-9.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント10 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-10.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント1 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-1.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント2 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-2.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント3 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-3.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント4 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-4.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント5 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-5.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント6 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-6.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント7 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-7.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント8 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-8.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント9 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-9.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント10 -->
          <div class="swiper-slide">
            <a href="#"
              class="prj-card-community-component card card-hover !overflow-visible rounded-[var(--theme-border-radius)] bg-white flex flex-col items-center justify-end !w-[200px] !h-[170px] shadow-[0px_0px_10px_0px_#3333331A] px-4 py-[14px]"
              aria-label="九州キャンプ&九州キャンパーの集い コミュニティページへ">
              <div class="prj-card-community-head absolute top-0 translate-y-[-28%]">
                <div
                  class="prj-card-community-image rounded-[50%] max-w-[100px] max-h-[100px] shadow-[0px_4px_4px_0px_#00000040]">
                  <img src="assets/images/theme-c/theme-c-community-10.jpg" class="aspect-square"
                    alt="九州キャンプ&九州キャンパーの集いコミュニティのイメージ画像" loading="lazy" width="100" height="100" />
                </div>
              </div>
              <div class="prj-card-community-body">
                <h3 class="prj-card-community-title">
                  九州キャンプ&九州キャンパーの集い九州キャンパーの集い九州キャンプ&九州キャンパーの集い九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-2 md:mt-2">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text">メンバー</p>
                  <span class="prj-card-community-member-number" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="prj-section-foot mt-[40px] sm:mt-[56px] p-[10px] pl-0">
      <a href="#" class="prj-text-link-more-component" aria-label="コミュニティの一覧ページへ">
        もっと見る
        <span class="material-symbols-outlined icon-expand-circle-right-lg text-primary" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>
  </div>
</section>