<div class="sm:pt-[var(--header-height-md)]">
  <div>
    <div
      class="relative flex justify-center w-full h-full p-[25px_20px_20px] sm:p-[25px_20px_20px] md:p-[30px_0px_30px]">
      <!-- 背景画像、スライドコンテナ -->
      <div class="bg-slide-container z-0 absolute top-0 left-0 w-screen h-full">
        <!-- 背景画像が1枚の場合 -->
        <div class="single-image-container w-full h-full hidden">
          <img src="assets/images/theme-b/theme-b-mv-bg-1.jpg" alt="背景画像"
            class="absolute inset-0 w-full h-full object-cover" />
          <!-- ロゴ -->
        </div>
        <!-- 背景画像が複数の場合（Swiper使用） -->
        <div class="multiple-images-container relative w-full h-full">
          <div class="swiper mv-bg-swiper w-full h-full">
            <div class="swiper-wrapper">
              <!-- スライド1 -->
              <div class="swiper-slide w-full h-full">
                <img src="assets/images/theme-b/theme-b-mv-bg-1.jpg" alt="スライド1背景"
                  class="relative inset-0 w-screen h-full object-cover" />
              </div>

              <!-- スライド2 -->
              <div class="swiper-slide w-full h-full">
                <img src="assets/images/theme-b/theme-b-mv-bg-2.jpg" alt="スライド2背景"
                  class="relative inset-0 w-screen h-full object-cover" />
              </div>

              <!-- スライド3 -->
              <div class="swiper-slide w-full h-full">
                <img src="assets/images/theme-b/theme-b-mv-bg-3.jpg" alt="スライド3背景"
                  class="relative inset-0 w-screen h-full object-cover" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 背景画像、スライドコンテナ〆 -->

      <!-- lg-card, vertical-carousel -->
      <div
        class="z-10 md:max-h-[762px] flex justify-center max-w-[var(--theme-content-width-top-container-xs)] sm:max-w-[var(--theme-content-width-top-container-sm)] md:max-w-[var(--theme-content-width-top-container-md)] lg:max-w-[var(--theme-content-width-top-container-lg)] xl:max-w-[var(--theme-content-width-top-container-xl)]">
        <!-- lg-card -->
        <%- include ('./theme-c-top-lg-card.ejs') %>

          <!-- 仕切り縦線 -->
          <div class="hidden md:block md:m-[0px_10px] lg:m-[0px_15px] border-[0.5px] border-[#333333]"></div>
          <!-- vertical-carousel -->
          <%- include ('./theme-c-top-vertical-carousel.ejs') %>
      </div>
      <!-- lg-card, vertical-carousel〆 -->
    </div>
  </div>

  <!-- AD-1 -->
  <%- include ('./theme-c-top-ad-1.ejs') %>
    <!-- AD-1〆 -->
    <!-- horizontal-carousel -->
    <%- include ('./theme-c-top-horizontal-carousel.ejs') %>
      <!-- horizontal-carousel〆 -->
</div>