<section class="news prj-section-component" aria-labelledby="news-section-title">
  <div class="prj-section-container flex flex-col gap-[32px] sm:gap-[36px]">
    <div class="prj-section-head !mb-0 cursor-pointer group">
      <h2 id="news-section-title" class="prj-title-component flex items-center group-hover:text-primary">
        NEWS
      </h2>
      <div class="w-[34px] h-[32px] flex items-center justify-center">
        <span class="material-symbols-rounded icon-chevron-lg mt-[3px] group-hover:text-primary transition-all"
          aria-hidden="true">
          chevron_right
        </span>
      </div>
    </div>
    <div class="prj-section-body sm:flex-1">
      <ul class="flex flex-col !border-none">
        <li class="border-b-[1px] border-solid border-[#DEDEDE]">
          <a href="#" aria-label="2024年1月1日のニュース：お知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start sm:items-center gap-[10px] sm:gap-5 py-[14px] px-[8px] bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div class="w-fit text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div
              class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 sm:line-clamp-1 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
        <li class="border-b-[1px] border-solid border-[#DEDEDE]">
          <a href="#" aria-label="2024年1月1日のニュース：お知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start sm:items-center gap-[10px] sm:gap-5 py-[14px] px-[8px] bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div class="w-fit text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div
              class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 sm:line-clamp-1 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
        <li class="border-b-[1px] border-solid border-[#DEDEDE]">
          <a href="#" aria-label="2024年1月1日のニュース：お知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start sm:items-center gap-[10px] sm:gap-5 py-[14px] px-[8px] bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div class="w-fit text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div
              class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 sm:line-clamp-1 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
        <li class="border-b-[1px] border-solid border-[#DEDEDE]">
          <a href="#" aria-label="2024年1月1日のニュース：お知らせのタイトルが入ります"
            class="flex flex-col sm:flex-row items-start sm:items-center gap-[10px] sm:gap-5 py-[14px] px-[8px] bg-white hover:!opacity-100 hover:bg-[rgba(217,217,217,0.2)] group">
            <div class="w-fit text-sm font-medium text-text-primary">
              <time datetime="2024-01-01">2024.01.01</time>
            </div>
            <div
              class="text-sm font-nomal text-text-primary group-hover:text-[#000] transition-all line-clamp-2 sm:line-clamp-1 h-fit">
              お知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入りますお知らせのタイトルが入ります
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>