<footer class="footer prj-section-component bg-white text-[#333333] sm:py-10 lg:py-[60px]" role="contentinfo">
  <div class="prj-section-container">
    <!-- head -->
    <div class="prj-cta-registration-component bg-bg-theme-1 rounded">
      <h2 id="registration-heading" class="prj-cta-registration-title !text-[#333333]">登録登録</h2>
      <p class="prj-cta-registration-text !text-[#333333]">
        ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。<br />ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
      </p>
      <a class="prj-cta-registration-button prj-button-more-component bg-bg-primary text-white"
        aria-labelledby="registration-heading">
        登録登録
        <span class="material-symbols-outlined icon-expand-circle-right-lg text-white" aria-hidden="true">
          expand_circle_right
        </span>
      </a>
    </div>

    <!-- body -->
    <div class="overflow-hidden flex flex-col lg:flex-row lg:justify-between mt-10 mb-10 gap-[28px] sm:gap-5 lg:gap-10">
      <a href="#" class="w-[282px] h-[80.57px] sm:w-[350px] sm:h-[112px] lg:w-[30%] mx-auto lg:mx-0">
        <img src="assets/images/theme-c/theme-c-logo.png" class="!h-auto" alt="サイトロゴ" width="350" height="112"
          loading="lazy" />
      </a>
      <div class="flex flex-col gap-5 sm:flex-row sm:justify-between lg:flex-1">
        <nav class="text-sm font-medium flex flex-col sm:flex-row sm:flex-1 text-left gap-5" aria-label="フッターナビゲーション">
          <ul class="space-y-[8px] sm:flex-1 sm:border-r-[1px] sm:border-solid sm:border-[#BCBCBC]">
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
          </ul>
          <ul class="space-y-[8px] sm:flex-1 sm:border-r-[1px] sm:border-solid sm:border-[#BCBCBC]">
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
            <li>
              <a href="#" aria-label="ダミーリンクです"> ダミーリンクです </a>
            </li>
          </ul>
        </nav>
        <!-- sns -->
        <nav class="flex justify-center items-center sm:w-1/4" aria-label="SNSリンク">
          <ul class="flex gap-[17px]">
            <li class="w-[30px] h-[30px] flex justify-center items-center">
              <a href="#" aria-label="Instagramページへ">
                <img class="w-[26.43px] h-[26.43px]" src="assets/images/theme-c/theme-c-sns-instagram.png" alt=""
                  aria-hidden="true" width="24" height="24" loading="lazy" />
                <span class="sr-only">Instagram</span>
              </a>
            </li>
            <li class="w-[30px] h-[30px] flex justify-center items-center">
              <a href="#" aria-label="Facebookページへ">
                <img class="w-[26.43px] h-[26.27px]" src="assets/images/theme-c/theme-c-sns-facebook.png" alt=""
                  aria-hidden="true" width="26.43" height="26.27" loading="lazy" />
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li class="w-[30px] h-[30px] flex justify-center items-center">
              <a href="#" aria-label="Xページへ">
                <img class="w-[26.43px] h-[23.87px]" src="assets/images/theme-c/theme-c-sns-x.png" alt=""
                  aria-hidden="true" width="26.43" height="23.87" loading="lazy" />
                <span class="sr-only">X</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- foot -->
    <div class="pt-[21px] border-t border-[#333333] text-sm font-medium flex justify-center items-center text-left">
      <p class="text-xs font-medium">©2025 コピーライト.All Rights Reserved.</p>
    </div>
  </div>
</footer>