<section class="ad-1 prj-section-component py-0" aria-label="プロモーションバナーエリア">
  <div class="prj-section-container flex justify-center items-center flex-wrap py-5 sm:py-[53.62px] lg:py-[40px]">
    <a href="#" class="overflow-hidden" aria-label="キャンペーン詳細ページへ">
      <picture>
        <source media="(max-width: 599px)" srcset="assets/images/theme-d/theme-d-ad-1-banner-sp.jpg" />
        <source media="(min-width: 600px)" srcset="assets/images/theme-d/theme-d-ad-1-banner.jpg" />
        <img src="assets/images/theme-d/theme-d-ad-1-banner.jpg"
          class="w-[370px] h-[104px] sm:h-auto sm:max-w-none sm:w-full sm:aspect-[780/81.75] lg:aspect-[1040/109] transition-all duration-300 hover:scale-[var(--hover-scale)]"
          alt="キャンペーン情報バナー" width="1200" height="300" loading="lazy" />
      </picture>
    </a>
  </div>
</section>