<aside class="hidden lg:block">
  <!-- サイドメニューカテゴリーコンポーネント -->
  <nav class="prj-side-menu-main-component" aria-label="サイドバーナビゲーション">
    <div class="prj-side-menu-main-container">
      <!-- エリア上部 -->
      <div class="prj-side-menu-main-head">
        <!-- 広告エリア（上） -->
        <div class="prj-side-menu-main-ad-top">
          <a href="#" class="block max-w-[200px] max-h-[200px]" aria-label="広告バナー1：〇〇製品の詳細ページへ">
            <img src="assets/images/theme-d/theme-d-ad-2-banner-1.jpg" class="aspect-square" alt="広告バナー1：〇〇製品のプロモーション"
              loading="lazy" width="200" height="200" />
          </a>
        </div>
        <!-- コミュニティ一覧 -->
        <a href="#" class="prj-side-menu-main-item-community">
          <div class="prj-side-menu-main-item-thumbnail">
            <img src="assets/images/theme-d/theme-d-side-0.jpg" alt="ニュースカテゴリー" loading="lazy" width="40" height="40" />
          </div>
          <div class="prj-side-menu-main-item-text">コミュニティ一覧</div>
        </a>
      </div>
      <!-- エリア中部 -->
      <div class="prj-side-menu-main-body">
        <!-- リスト（カテゴリ） -->
        <section class="prj-side-menu-main-category" aria-labelledby="category-main-title">
          <!-- カテゴリメイン -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 id="category-main-title" class="prj-side-menu-main-list-title">カテゴリメイン</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-1.jpg" alt="ニュースカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">カテゴリが入ります</div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-2.jpg" alt="ビジネスカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリカテゴリカテゴリカテゴリカテゴリカカテゴリカテゴリカテゴリカテゴリカテゴリカカテゴリカテゴリカテゴリカテゴリカテゴリカ
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-3.jpg" alt="テクノロジーカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-4.jpg" alt="ライフスタイルカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-5.jpg" alt="エンタメカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="prj-side-menu-main-list-foot">
              <a href="#" class="prj-text-link-more-component overflow-hidden" aria-label="すべての新着記事を表示する">
                カテゴリ一覧
                <span class="prj-text-link-more-icon material-symbols-outlined icon-chevron-md" aria-hidden="true">
                  chevron_right
                </span>
              </a>
            </div>
          </div>
          <!-- カテゴリサブ1 -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 class="prj-side-menu-main-list-title">カテゴリサブ1</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-6.jpg" alt="スポーツカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-7.jpg" alt="音楽カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-8.jpg" alt="映画カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-9.jpg" alt="グルメカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-10.jpg" alt="旅行カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- カテゴリサブ2 -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 class="prj-side-menu-main-list-title">カテゴリサブ2</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-11.jpg" alt="教育カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-12.jpg" alt="健康カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-2.jpg" alt="ファッションカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-9.jpg" alt="自動車カテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-10.jpg" alt="住まいカテゴリー" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- リスト（アカウント） -->
        <section class="prj-side-menu-main-account" aria-labelledby="account-main-title">
          <!-- アカウントメイン -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 id="account-main-title" class="prj-side-menu-main-list-title">
                アカウントメイン
              </h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウントアカウントアカウントアカウントアカウントアカウントアカウントアカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
              </ul>
            </div>
            <div class="prj-side-menu-main-list-foot">
              <a href="#" class="prj-text-link-more-component overflow-hidden" aria-label="すべてのアカウントを表示する">
                アカウント一覧
                <span class="prj-text-link-more-icon material-symbols-outlined icon-chevron-md" aria-hidden="true">
                  chevron_right
                </span>
              </a>
            </div>
          </div>
          <!-- アカウントサブ1 -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 class="prj-side-menu-main-list-title">アカウントサブ1</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- アカウントサブ2 -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 class="prj-side-menu-main-list-title">アカウントサブ2</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#"><span>アカウント</span></a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- リスト（タグ） -->
        <section class="prj-side-menu-main-tag" aria-labelledby="tag-title">
          <!-- タグメイン -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 id="tag-title" class="prj-side-menu-main-list-title">タグ</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(123)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(123)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグa</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabcde</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(12345)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabcde</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(123)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabcタグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
                <li class="prj-tag-component">
                  <a href="#" class="prj-tag-link"><span class="prj-tag-name">タグabc</span><span
                      class="prj-tag-count"><span class="sr-only">関連記事数: </span>(1)</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="prj-side-menu-main-list-foot">
              <a href="#" class="prj-text-link-more-component overflow-hidden" aria-label="すべてのタグを表示する">
                タグ一覧
                <span class="prj-text-link-more-icon material-symbols-outlined icon-chevron-md" aria-hidden="true">
                  chevron_right
                </span>
              </a>
            </div>
          </div>
        </section>
        <!-- リスト（このサイトについて） -->
        <section class="prj-side-menu-main-about" aria-labelledby="about-title">
          <!-- このサイトについて -->
          <div class="prj-side-menu-main-list-container">
            <div class="prj-side-menu-main-list-head">
              <h3 id="about-title" class="prj-side-menu-main-list-title">このサイトについて</h3>
            </div>
            <div class="prj-side-menu-main-list-body">
              <ul class="prj-side-menu-main-list">
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-13.jpg" alt="会社概要" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-14.jpg" alt="ダミーテキストです。" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-15.jpg" alt="ダミーテキストです。" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-16.jpg" alt="特定商取引法に基づく表記" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
                <li class="prj-side-menu-main-item">
                  <a href="#" class="prj-side-menu-main-item-link">
                    <div class="prj-side-menu-main-item-thumbnail">
                      <img src="assets/images/theme-d/theme-d-side-17.jpg" alt="ダミーテキストです。" loading="lazy" width="40"
                        height="40" />
                    </div>
                    <div class="prj-side-menu-main-item-text">
                      カテゴリが入りますカテゴリーが入りますカテゴリーが入ります
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!-- エリア下部 -->
      <div class="prj-side-menu-main-foot">
        <!-- 広告エリア（下） -->
        <div class="prj-side-menu-main-ad-bottom">
          <a href="#" class="block max-w-[200px] max-h-[200px]" aria-label="広告バナー2：〇〇サービスの詳細ページへ">
            <img src="assets/images/theme-d/theme-d-ad-2-banner-2.jpg" class="aspect-square" alt="広告バナー2：〇〇サービスのプロモーション"
              loading="lazy" width="200" height="200" />
          </a>
          <a href="#" class="block max-w-[200px] max-h-[200px]" aria-label="広告バナー3：〇〇キャンペーンの詳細ページへ">
            <img src="assets/images/theme-d/theme-d-ad-2-banner-3.jpg" class="aspect-square"
              alt="広告バナー3：〇〇キャンペーンのプロモーション" loading="lazy" width="200" height="200" />
          </a>
          <a href="#" class="block max-w-[200px] max-h-[200px]" aria-label="広告バナー4：〇〇ストアの詳細ページへ">
            <img src="assets/images/theme-d/theme-d-ad-2-banner-4.jpg" class="aspect-square" alt="広告バナー4：〇〇ストアのプロモーション"
              loading="lazy" width="200" height="200" />
          </a>
        </div>
        <!-- powered by -->
        <div class="prj-side-menu-main-powered-by">
          <p>powered by</p>
          <a href="#" class="block max-w-[210px] max-h-[70px]" aria-label="powered by">
            <img src="assets/images/common/powered-by.jpg" class="aspect-[210/70]" alt="powered by" loading="lazy"
              width="210" height="70" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</aside>