<section class="special-thanks prj-section-component py-[40px] sm:py-[64px] md:py-[64px] lg:py-[60px] xl:py-[60px]"
  aria-labelledby="special-thanks-title">
  <div class="prj-section-container !px-0">
    <div class="prj-section-head">
      <h2 id="special-thanks-title" class="prj-title-component mx-auto">
        <span lang="en">SPECIAL THANKS</span>
        <span class="sr-only">協賛企業の皆様</span>
      </h2>
    </div>
    <div
      class="flex justify-center items-center flex-wrap gap-[15px] sm:gap-x-[25px] sm:gap-y-[28px] md:gap-x-[25px] md:gap-y-[28px] lg:gap-[28px] xl:gap-[40px]">
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー1のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-1.jpg" alt="スポンサー1のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー2のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-2.jpg" alt="スポンサー2のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー3のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-3.jpg" alt="スポンサー3のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー4のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-4.jpg" alt="スポンサー4のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー5のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-5.jpg" alt="スポンサー5のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー6のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-6.jpg" alt="スポンサー6のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー7のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-1.jpg" alt="スポンサー7のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
      <a href="#" class="w-[45%] sm:max-w-[175px] md:max-w-[255px]" aria-label="スポンサー8のウェブサイトへ">
        <img class="block aspect-[255/75]" src="assets/images/theme-d/theme-d-thanks-2.jpg" alt="スポンサー8のロゴ" loading="lazy"
          width="255" height="75" />
      </a>
    </div>
  </div>
</section>