<section class="community prj-section-component overflow-hidden bg-bg-theme-1 lg:py-[64px] xl:py-[64px] xl:px-[40px]"
  aria-labelledby="community-section-title">
  <div>
    <div class="prj-section-head !mb-5 !flex-col">
      <h2 id="community-section-title" class="prj-title-component flex-1 !text-center">
        コミュニティ
      </h2>
      <a href="#"
        class="prj-text-link-more-component hidden md:flex !border-none !py-[2px] !text-xs !font-medium text-text-primary group hover:text-primary"
        aria-label="コミュニティの一覧ページへ">
        すべてのコミュニティをみる
        <span
          class="prj-text-link-more-icon material-symbols-outlined icon-chevron-lg !text-[20px] text-black group-hover:text-primary"
          aria-hidden="true">
          chevron_right
        </span>
      </a>
    </div>
    <div class="prj-section-body">
      <!-- コミュニティスライダー -->
      <div class="swiper theme-c-community-swiper !overflow-visible" aria-roledescription="カルーセル"
        aria-label="コミュニティカルーセル">
        <div class="swiper-wrapper">
          <!-- カードコンポーネント1 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-1">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-1" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント2 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-2">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-2" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント3 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-3">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-2.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-3" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント4 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-4">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-3.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-4" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント5 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-5">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-4.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-5" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント6 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-6">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-5.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-6" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント7 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-7">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-6.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-7" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント8 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-8">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-7.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-8" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント9 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-9">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-8.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-9" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント10 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-10">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-9.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-10" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント11 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-11">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-11" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント12 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-12">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-12" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント13 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-13">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-13" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
          <!-- カードコンポーネント14 -->
          <div class="swiper-slide" role="group" aria-roledescription="スライド">
            <a href="#"
              class="prj-card-community-component card card-hover bg-white !max-w-[170px] !aspect-auto rounded-[15px] p-5 !shadow-[0px_0px_10px_0px_#E7E7E7] !justify-between"
              aria-labelledby="community-card-title-14">
              <div class="prj-card-community-head">
                <div class="prj-card-community-image w-[83px] h-[83px]">
                  <img src="assets/images/theme-d/theme-d-community-1.jpg" class="aspect-auto" alt="九州キャンプ&九州キャンパーの集いのロゴ"
                    loading="lazy" width="83" height="83" />
                </div>
              </div>
              <div class="prj-card-community-body mt-3">
                <h3 id="community-card-title-14" class="prj-card-community-title text-sm font-medium">
                  九州キャンプ&九州キャンパーの集い九州キャンプ&九州キャンパーの集い
                </h3>
              </div>
              <div class="prj-card-community-foot mt-5 pb-[2px]">
                <!-- コミニティメンバーの人数 -->
                <div class="prj-card-community-member-count">
                  <span class="prj-card-community-member-icon material-symbols-outlined icon-groups-sm"
                    aria-hidden="true">
                    groups
                  </span>
                  <p class="prj-card-community-member-text !font-medium">メンバー</p>
                  <span class="prj-card-community-member-number text-sm font-normal" aria-label="メンバー数 10人">10</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- スライド進行状況のスクリーンリーダー向け通知 -->
      <div class="sr-only" aria-live="polite" id="carousel-status"></div>
    </div>
    <div class="prj-section-foot mt-5 md:hidden">
      <a href="#" class="prj-text-link-more-component !border-none !py-[2px] !text-xs !font-medium text-text-primary"
        aria-label="コミュニティの一覧ページへ">
        すべてのコミュニティをみる
        <span class="prj-text-link-more-icon material-symbols-outlined icon-chevron-lg !text-[20px] text-black"
          aria-hidden="true">
          chevron_right
        </span>
      </a>
    </div>
  </div>
</section>