<section class="news prj-section-component py-[32px] sm:p-[56px] md:p-[56px] lg:p-[56px] xl:py-[56px] xl:px-[96px]"
  aria-labelledby="news-section-heading">
  <div class="prj-section-container flex flex-col gap-[32px] sm:gap-[36px]">
    <h2 id="news-section-heading" class="text-2xl font-bold mb-4">NEWS</h2>
    <div class="prj-section-body sm:flex-1">
      <div class="flex flex-col rounded-[10px] sm:rounded-[16px] overflow-hidden">
        <div class="flex items-stretch bg-bg-primary sm:bg-inherit">
          <p
            class="bg-bg-primary p-[10px] sm:py-[19px] sm:w-[20%] max-w-[180px] flex items-center justify-center whitespace-nowrap text-white text-[16px] font-black sm:font-semibold">
            お知らせ
          </p>
          <div
            class="bg-bg-primary sm:bg-bg-theme-1 py-[10px] sm:py-5 px-[25px] sm:px-[23.5px] max-w-[120px] flex items-center whitespace-nowrap text-white text-sm font-medium sm:text-text-theme">
            <time datetime="2024-01-01">2024.01.01</time>
          </div>
          <a href="#" class="hidden sm:block flex-1" aria-label="2024年1月1日のお知らせ: お知らせのタイトルが入ります">
            <div
              class="bg-bg-theme-1 py-[10px] px-[10px] h-full flex items-center text-[14px] font-medium text-text-theme">
              <span class="line-clamp-1"> お知らせのタイトルが入ります </span>
            </div>
          </a>
          <button class="hidden sm:flex bg-bg-theme-1 py-3 px-[28px] min-w-[80px] items-center justify-center"
            aria-label="お知らせメニューを開く">
            <span class="material-symbols-outlined icon-humberger-lg text-black" aria-hidden="true">
              menu
            </span>
          </button>
        </div>
        <!-- news-content -->
        <div class="bg-[#F0F0F0] sm:hidden">
          <p class="text-sm font-medium text-text-theme py-[16.5px] px-[10px]">
            ここにお知らせが入ります。ここにお知らせが入ります。ここにお知らせが入ります。ここにお知らせが入ります。ここにお知らせが入ります。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>