<footer class="footer prj-section-component bg-bg-primary p-[50px_20px_30px] sm:p-[64px]" role="contentinfo">
  <div class="prj-section-container text-white">
    <div class="overflow-hidden flex flex-row justify-between md:!items-center md:gap-[69px] mb-5">
      <div class="flex-1 flex flex-col gap-[10px] md:gap-[19px]">
        <a href="#" class="w-[284px] h-[123px] mx-auto md:mx-0" aria-label="ホームページへ戻る">
          <img src="assets/images/theme-d/theme-d-logo.png" alt="サイトロゴ" width="284" height="123" loading="lazy" />
        </a>
        <p class="text-base md:text-sm leading-6 font-medium whitespace-pre-line">
          ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。ディスクリプションが入ります。
        </p>
      </div>
      <div class="hidden md:flex flex-col gap-[15px] w-full max-w-[46%] lg:max-w-[47%] xl:max-w-[48%]">
        <h3 class="text-lg leading-6 font-semibold">MENU</h3>
        <nav class="text-sm font-medium flex justify-between items-start text-left md:gap-[96px]"
          aria-label="フッターナビゲーション">
          <ul class="w-1/2 space-y-[10px] [&>li::marker]:content-['ー_'] list-inside">
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
          </ul>
          <ul class="w-1/2 space-y-[10px] [&>li::marker]:content-['ー_'] list-inside">
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
            <li>
              <a href="#" aria-label="サイトのMENUページへ移動"> MENU </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- foot -->
    <div
      class="border-t border-white text-sm font-medium flex flex-col md:flex-row justify-center items-center md:justify-between md:items-center text-left gap-[30px] md:gap-0 pt-[30px] sm:pt-[21px]">
      <p class="text-xs font-medium">©2025 コピーライト.All Rights Reserved.</p>
      <!-- sns -->
      <nav aria-label="SNSリンク">
        <ul class="flex gap-5">
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Instagramで当サイトをフォローする">
              <img class="w-[26.43px] h-[26.43px]" src="assets/images/theme-d/theme-d-sns-instagram.svg" alt=""
                aria-hidden="true" width="24" height="24" loading="lazy" />
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Facebookで当サイトをフォローする">
              <img class="w-[26.43px] h-[26.27px]" src="assets/images/theme-d/theme-d-sns-facebook.svg" alt=""
                aria-hidden="true" width="26.43" height="26.27" loading="lazy" />
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="w-[40px] h-[40px] flex justify-center items-center">
            <a href="#" aria-label="Xで当サイトをフォローする">
              <img class="w-[26.43px] h-[23.87px]" src="assets/images/theme-d/theme-d-sns-x.svg" alt=""
                aria-hidden="true" width="26.43" height="23.87" loading="lazy" />
              <span class="sr-only">X</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>