<section class="membership prj-section-component hidden md:flex bg-[#F8F8F8] p-[40px] xl:px-[64px]"
  aria-labelledby="membership-heading">
  <div class="prj-section-container text-center">
    <h2 id="membership-heading" class="sr-only">ダミーテキスト</h2>
    <div class="flex">
      <!-- ダミーテキスト -->
      <div
        class="flex-1 flex flex-col justify-start items-center sm:pr-[20px] md:pr-[20px] lg:pr-[40px] xl:pr-[20px] pt-[19px] xl:pt-0 border-r border-text-theme">
        <h3 class="flex items-center text-[20px] leading-6 font-semibold text-text-theme gap-2 mb-[25px]">
          <i class="fa-solid fa-user text-xl mr-2" style="color: rgb(106, 192, 208)"></i>
          ダミーテキスト
        </h3>
        <p class="text-sm leading-6 font-semibold text-text-theme whitespace-pre-line p-[10px] mb-[25px]">
          ダミーテキスト<br />ダミーテキスト
        </p>
        <a href="#"
          class="flex justify-center items-center text-white w-full text-sm leading-6 font-semibold p-[10px] mb-[40px] rounded-[5px] gap-[5px]"
          aria-label="ダミーテキスト" style="background-color: rgb(106, 192, 208)"><i
            class="fa-solid fa-circle-plus mr-1"></i>ダミーテキスト</a>
        <div class="flex justify-around w-full mb-5">
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#6ac0d0] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(106, 192, 208)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.3em" viewBox="0 0 512 512" class="mx-auto my-3 block">
                <path
                  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                  fill="#6ac0d0"></path>
              </svg>
            </div>
          </div>
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#6ac0d0] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(106, 192, 208)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.3em" viewBox="0 0 512 512" class="mx-auto my-3 block">
                <path
                  d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
                  fill="#6ac0d0"></path>
              </svg>
            </div>
          </div>
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#6ac0d0] mb-[13px]">DダミーテキストM</span>
            <div style="color: rgb(106, 192, 208)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.3em" viewBox="0 0 512 512" class="mx-auto my-3 block">
                <path
                  d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"
                  fill="#6ac0d0"></path>
              </svg>
            </div>
          </div>
        </div>
        <p class="text-xs leading-4 font-medium text-text-theme m-auto">
          ダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
      <!-- ダミーテキスト -->
      <div
        class="flex-1 flex flex-col justify-start items-center sm:px-[20px] md:px-[20px] lg:px-[44px] xl:px-[20px] pt-[19px] xl:pt-0 border-r border-text-theme">
        <h3 class="flex items-center text-[20px] leading-6 font-semibold text-text-theme gap-2 mb-[25px]">
          <i class="fa-solid fa-shop text-xl mr-2" style="color: rgb(255, 87, 0)"></i>
          ダミーテキスト
        </h3>
        <p class="text-sm leading-6 font-semibold text-text-theme whitespace-pre-line p-[10px] mb-[25px]">
          ダミーテキストダミーテキスト<br />ダミーテキスト
        </p>
        <a href="#"
          class="flex justify-center items-center text-white w-full text-sm leading-6 font-semibold p-[10px] mb-[40px] rounded-[5px] gap-[5px]"
          aria-label="ダミーテキスト" style="background-color: rgb(255, 87, 0)"><i
            class="fa-solid fa-circle-plus mr-1"></i>ダミーテキスト
        </a>
        <div class="flex justify-around w-full">
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#ff5700] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(255, 87, 0)">
              <div class="relative mx-auto my-3" style="width: 63px; height: 43px">
                <svg class="absolute" xmlns="http://www.w3.org/2000/svg" width="63" height="43" viewBox="0 0 63 43">
                  <g transform="translate(-564.674 -629.954)">
                    <g transform="translate(564.674 629.954)" fill="#fff" stroke="#ff5700" stroke-width="2">
                      <rect width="63" height="43" rx="3" stroke="none"></rect>
                      <rect x="1" y="1" width="61" height="41" rx="2" fill="none"></rect>
                    </g>
                    <line x2="18.5" transform="translate(599.174 655.902)" fill="none" stroke="#ff5700"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="60" transform="translate(565.674 634.954)" fill="none" stroke="#ff5700"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="18.5" transform="translate(599.174 659.887)" fill="none" stroke="#ff5700"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="18.5" transform="translate(599.174 663.872)" fill="none" stroke="#ff5700"
                      stroke-linecap="round" stroke-width="1"></line>
                    <text transform="translate(573.674 645.954)" font-size="9" font-family="NotoSans-Bold, Noto Sans"
                      font-weight="700" fill="#ff5700">
                      <tspan x="0" y="0">ダミーテキスト</tspan>
                    </text>
                  </g>
                </svg>
                <svg class="absolute" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"
                  style="top: 20px; left: 9px">
                  <path
                    d="M320 384H128V224H64v256c0 17.7 14.3 32 32 32h256c17.7 0 32-14.3 32-32V224h-64v160zm314.6-241.8l-85.3-128c-6-8.9-16-14.2-26.7-14.2H117.4c-10.7 0-20.7 5.3-26.6 14.2l-85.3 128c-14.2 21.3 1 49.8 26.6 49.8H608c25.5 0 40.7-28.5 26.6-49.8zM512 496c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V224h-64v272z"
                    fill="#ff5700"></path>
                </svg>
              </div>
            </div>
            <p class="text-left text-xs leading-4 font-medium text-text-theme whitespace-pre-line mr-auto">
              ダミーテキスト
            </p>
          </div>
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#ff5700] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(255, 87, 0)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.6em" viewBox="0 0 576 512" class="mx-auto my-3 block">
                <path
                  d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z"
                  fill="#ff5700"></path>
              </svg>
            </div>
            <p class="text-left text-xs leading-4 font-medium text-text-theme whitespace-pre-line mr-auto">
              ダミーテキスト
            </p>
          </div>
        </div>
      </div>
      <!-- ダミーテキスト -->
      <div
        class="flex-1 flex flex-col justify-start items-center sm:pl-[20px] md:pl-[20px] lg:pl-[40px] xl:pl-[20px] pt-[19px] xl:pt-0">
        <h3 class="flex items-center text-[20px] leading-6 font-semibold text-text-theme gap-2 mb-[25px]">
          <i class="fa-regular fa-handshake text-xl mr-2" style="color: rgb(51, 125, 57)"></i>
          ダミーテキスト
        </h3>
        <p class="text-sm leading-6 font-semibold text-text-theme whitespace-pre-line p-[10px] mb-[25px]">
          ダミーテキスト<br />ダミーテキスト
        </p>
        <a href="#"
          class="flex justify-center items-center text-white w-full text-sm leading-6 font-semibold p-[10px] mb-[40px] rounded-[5px] gap-[5px]"
          aria-label="ダミーテキスト" style="background-color: rgb(51, 125, 57)"><i
            class="fa-solid fa-circle-plus mr-1"></i>ダミーテキスト
        </a>
        <div class="flex justify-around w-full">
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#337d39] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(51, 125, 57)">
              <div class="relative mx-auto my-3" style="width: 63px; height: 43px">
                <svg class="absolute" xmlns="http://www.w3.org/2000/svg" width="63" height="43" viewBox="0 0 63 43">
                  <g transform="translate(-564.674 -629.954)">
                    <g transform="translate(564.674 629.954)" fill="#fff" stroke="#337d39" stroke-width="2">
                      <rect width="63" height="43" rx="3" stroke="none"></rect>
                      <rect x="1" y="1" width="61" height="41" rx="2" fill="none"></rect>
                    </g>
                    <line x2="18.5" transform="translate(599.174 655.902)" fill="none" stroke="#337d39"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="60" transform="translate(565.674 634.954)" fill="none" stroke="#337d39"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="18.5" transform="translate(599.174 659.887)" fill="none" stroke="#337d39"
                      stroke-linecap="round" stroke-width="1"></line>
                    <line x2="18.5" transform="translate(599.174 663.872)" fill="none" stroke="#337d39"
                      stroke-linecap="round" stroke-width="1"></line>
                    <text transform="translate(573.674 645.954)" font-size="9" font-family="NotoSans-Bold, Noto Sans"
                      font-weight="700" fill="#337d39">
                      <tspan x="0" y="0">ダミーテキスト</tspan>
                    </text>
                  </g>
                </svg>
                <svg class="absolute" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"
                  style="top: 20px; left: 9px">
                  <path
                    d="M320 384H128V224H64v256c0 17.7 14.3 32 32 32h256c17.7 0 32-14.3 32-32V224h-64v160zm314.6-241.8l-85.3-128c-6-8.9-16-14.2-26.7-14.2H117.4c-10.7 0-20.7 5.3-26.6 14.2l-85.3 128c-14.2 21.3 1 49.8 26.6 49.8H608c25.5 0 40.7-28.5 26.6-49.8zM512 496c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V224h-64v272z"
                    fill="#337d39"></path>
                </svg>
              </div>
            </div>
            <p class="text-left text-xs leading-4 font-medium text-text-theme whitespace-pre-line mr-auto">
              ダミーテキスト
            </p>
          </div>
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#337d39] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(51, 125, 57)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.6em" viewBox="0 0 576 512" class="mx-auto my-3 block">
                <path
                  d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z"
                  fill="#337d39"></path>
              </svg>
            </div>
            <p class="text-left text-xs leading-4 font-medium text-text-theme whitespace-pre-line mr-auto">
              ダミーテキスト
            </p>
          </div>
          <div class="flex flex-col justify-between items-center">
            <span class="text-xs leading-4 font-semibold text-[#337d39] mb-[13px]">ダミーテキスト</span>
            <div style="color: rgb(51, 125, 57)">
              <svg xmlns="http://www.w3.org/2000/svg" height="2.6em" viewBox="0 0 512 512" class="mx-auto my-3 block">
                <path
                  d="M157.52 272h36.96L176 218.78 157.52 272zM352 256c-13.23 0-24 10.77-24 24s10.77 24 24 24 24-10.77 24-24-10.77-24-24-24zM464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM250.58 352h-16.94c-6.81 0-12.88-4.32-15.12-10.75L211.15 320h-70.29l-7.38 21.25A16 16 0 0 1 118.36 352h-16.94c-11.01 0-18.73-10.85-15.12-21.25L140 176.12A23.995 23.995 0 0 1 162.67 160h26.66A23.99 23.99 0 0 1 212 176.13l53.69 154.62c3.61 10.4-4.11 21.25-15.11 21.25zM424 336c0 8.84-7.16 16-16 16h-16c-4.85 0-9.04-2.27-11.98-5.68-8.62 3.66-18.09 5.68-28.02 5.68-39.7 0-72-32.3-72-72s32.3-72 72-72c8.46 0 16.46 1.73 24 4.42V176c0-8.84 7.16-16 16-16h16c8.84 0 16 7.16 16 16v160z"
                  fill="#337d39"></path>
              </svg>
            </div>
            <p class="text-left text-xs leading-4 font-medium text-text-theme whitespace-pre-line mr-auto">
              ダミーテキスト
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>