<div class="prj-section-foot mt-10 sm:mt-[64px]">
  <!-- pagination -->
  <nav class="prj-pagination-component justify-center mt-10 sm:mt-[64px]" aria-label="ページナビゲーション">
    <a class="!hidden prj-pagination-item prj-pagination-button" aria-label="最初のページへ">
      <span class="material-symbols-outlined icon-keyboard_double_arrow-md" aria-hidden="true">
        keyboard_double_arrow_left
      </span>
      <span class="sr-only">最初のページへ</span>
    </a>
    <a class="!hidden prj-pagination-item prj-pagination-button" aria-label="前のページへ">
      <span class="material-symbols-outlined icon-chevron-md" aria-hidden="true">
        chevron_left
      </span>
      <span class="sr-only">前のページへ</span>
    </a>
    <a class="prj-pagination-item prj-pagination-number current" aria-current="page" aria-label="現在のページ、1ページ目">1</a>
    <a class="prj-pagination-item prj-pagination-number" aria-label="2ページ目へ">2</a>
    <a class="prj-pagination-item prj-pagination-number !hidden sm:!flex" aria-label="3ページ目へ">3</a>
    <a class="prj-pagination-item prj-pagination-number !hidden sm:!flex" aria-label="4ページ目へ">4</a>
    <span class="prj-pagination-item prj-pagination-number" aria-hidden="さらにページがあることを示す省略記号">...</span>
    <a class="prj-pagination-item prj-pagination-button" aria-label="次のページへ">
      <span class="material-symbols-outlined icon-chevron-md" aria-hidden="true">
        chevron_right
      </span>
      <span class="sr-only">次のページへ</span>
    </a>
    <a class="prj-pagination-item prj-pagination-button" aria-label="最後のページへ">
      <span class="material-symbols-outlined icon-keyboard_double_arrow-md" aria-hidden="true">
        keyboard_double_arrow_right
      </span>
      <span class="sr-only">最後のページへ</span>
    </a>
  </nav>
</div>