<nav class="prj-breadcrumb-component mb-5 hidden sm:block" aria-label="パンくずリスト">
  <ol class="prj-breadcrumb-list" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="prj-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">ホーム</span></a>
      <meta itemprop="position" content="1" />
    </li>
    <li class="prj-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">記事一覧</span></a>
      <meta itemprop="position" content="2" />
    </li>
    <li class="prj-breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/" class="current" itemprop="item" aria-current="page"><span itemprop="name">記事タイトル</span></a>
      <meta itemprop="position" content="3" />
    </li>
  </ol>
</nav>