<section class="recommend prj-section-component bg-[#f6f6f6] !py-[56px] !px-0 sm:!px-[64px]"
  aria-labelledby="recommend-heading">
  <div class="prj-section-container">
    <h2 id="recommend-heading" class="px-5 text-center text-2xl font-semibold text-text-secondary mb-[56px]">
      この記事を読んだ人におすすめの記事
    </h2>
    <div class="prj-section-body">
      <!-- Swiperカルーセル -->
      <div class="swiper article-detail-recommend-swiper" aria-roledescription="carousel" aria-label="おすすめ記事カルーセル">
        <!-- スライダーコンテンツ -->
        <div class="swiper-wrapper">
          <!-- カードコンポーネント1 -->
          <article class="prj-card-component swiper-slide !basis-auto" itemscope itemtype="http://schema.org/Article">
            <div class="prj-card-flex">
              <div class="prj-card-head">
                <!-- サムネイル複数枚のとき（スライダー） -->
                <div class="prj-card-thumbnail swiper card-swiper" aria-roledescription="carousel"
                  aria-label="記事1のスライドショー">
                  <div class="swiper-wrapper">
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="1枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-12.jpg" alt="記事のサムネイル画像: Theme-a関連のイメージ" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="2枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-5.jpg" alt="記事のサムネイル画像: Theme-a関連の別イメージ" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                  </div>
                  <!-- ナビゲーションボタン -->
                  <button class="swiper-button-prev" aria-label="前の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_left
                    </span>
                    <span class="sr-only">前の画像へ</span>
                  </button>
                  <button class="swiper-button-next" aria-label="次の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_right
                    </span>
                    <span class="sr-only">次の画像へ</span>
                  </button>
                </div>
                <!-- シェアボタン -->
                <!-- <button class="prj-card-share">
  <img
    src="assets/images/common/share.png"
    alt="シェア"
    width="24"
    height="24"
    loading="lazy"
  />
</button> -->
                <!-- カテゴリ -->
                <a href="#" class="prj-card-category bg-[#DEDEDE]" aria-label="カテゴリー: 記事カテゴリメイン"
                  itemprop="articleSection">
                  <span>記事カテゴリメイン</span>
                </a>
              </div>

              <div class="prj-card-body">
                <a href="#" aria-describedby="card-desc-1" itemprop="url">
                  <h3 class="prj-card-title" itemprop="headline">
                    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
                  </h3>
                </a>
                <div id="card-desc-1" class="sr-only">この記事の詳細を見る</div>

                <div class="prj-card-author-info">
                  <div class="prj-card-author">
                    <a href="#" class="prj-card-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                      <span
                        itemprop="name">ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="prj-card-foot">
              <time class="prj-card-date" datetime="2025-05-05" itemprop="datePublished">
                <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                  schedule
                </span>
                <span>2025.05.05</span>
              </time>
              <div class="prj-card-stats">
                <div class="prj-card-views">
                  <span class="prj-card-views-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-visibility-sm">
                      visibility
                    </span></span>
                  <span aria-label="閲覧数 99.9k">99.9k</span>
                </div>
                <div class="prj-card-likes">
                  <span class="prj-card-likes-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-favorite-sm" aria-hidden="true">
                      favorite
                    </span>
                  </span>
                  <span aria-label="いいね数 999k">999k</span>
                </div>
                <div class="prj-card-comments">
                  <span class="prj-card-comments-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-comment-sm" aria-hidden="true">
                      chat
                    </span></span>
                  <span aria-label="コメント数 456">456</span>
                </div>
              </div>
            </div>
            <meta itemprop="description" content="この記事の説明文がここに入ります。" />
          </article>
          <!-- カードコンポーネント2 -->
          <article class="prj-card-component swiper-slide !basis-auto" itemscope itemtype="http://schema.org/Article">
            <div class="prj-card-flex">
              <div class="prj-card-head">
                <!-- サムネイル複数枚のとき（スライダー） -->
                <div class="prj-card-thumbnail swiper card-swiper" aria-roledescription="carousel"
                  aria-label="記事2のスライドショー">
                  <div class="swiper-wrapper">
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="1枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-6.jpg" alt="記事のサムネイル画像: Theme-a関連の製品" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="2枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-5.jpg" alt="記事のサムネイル画像: Theme-a関連の別アングル" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                  </div>
                  <!-- ナビゲーションボタン -->
                  <button class="swiper-button-prev" aria-label="前の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_left
                    </span>
                    <span class="sr-only">前の画像へ</span>
                  </button>
                  <button class="swiper-button-next" aria-label="次の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_right
                    </span>
                    <span class="sr-only">次の画像へ</span>
                  </button>
                </div>
                <!-- シェアボタン -->
                <!-- <button class="prj-card-share">
  <img
    src="assets/images/common/share.png"
    alt="シェア"
    width="24"
    height="24"
    loading="lazy"
  />
</button> -->
                <!-- カテゴリ -->
                <a href="#" class="prj-card-category bg-[#DEDEDE]" aria-label="カテゴリー: 記事カテゴリメイン"
                  itemprop="articleSection">
                  <span>記事カテゴリメイン</span>
                </a>
              </div>

              <div class="prj-card-body">
                <a href="#" aria-describedby="card-desc-2" itemprop="url">
                  <h3 class="prj-card-title" itemprop="headline">
                    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
                  </h3>
                </a>
                <div id="card-desc-2" class="sr-only">この記事の詳細を見る</div>

                <div class="prj-card-author-info">
                  <div class="prj-card-author">
                    <a href="#" class="prj-card-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                      <span
                        itemprop="name">ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="prj-card-foot">
              <time class="prj-card-date" datetime="2025-05-05" itemprop="datePublished">
                <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                  schedule
                </span>
                <span>2025.05.05</span>
              </time>
              <div class="prj-card-stats">
                <div class="prj-card-views">
                  <span class="prj-card-views-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-visibility-sm">
                      visibility
                    </span></span>
                  <span aria-label="閲覧数 99.9k">99.9k</span>
                </div>
                <div class="prj-card-likes">
                  <span class="prj-card-likes-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-favorite-sm" aria-hidden="true">
                      favorite
                    </span>
                  </span>
                  <span aria-label="いいね数 999k">999k</span>
                </div>
                <div class="prj-card-comments">
                  <span class="prj-card-comments-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-comment-sm" aria-hidden="true">
                      chat
                    </span></span>
                  <span aria-label="コメント数 456">456</span>
                </div>
              </div>
            </div>
            <meta itemprop="description" content="この記事の説明文がここに入ります。" />
          </article>
          <!-- カードコンポーネント3 -->
          <article class="prj-card-component swiper-slide !basis-auto" itemscope itemtype="http://schema.org/Article">
            <div class="prj-card-flex">
              <div class="prj-card-head">
                <!-- サムネイル複数枚のとき（スライダー） -->
                <div class="prj-card-thumbnail swiper card-swiper" aria-roledescription="carousel"
                  aria-label="記事3のスライドショー">
                  <div class="swiper-wrapper">
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="1枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-4.jpg" alt="記事のサムネイル画像: Theme-aのロゴと製品" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="2枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-5.jpg" alt="記事のサムネイル画像: Theme-aの別視点" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                  </div>
                  <!-- ナビゲーションボタン -->
                  <button class="swiper-button-prev" aria-label="前の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_left
                    </span>
                    <span class="sr-only">前の画像へ</span>
                  </button>
                  <button class="swiper-button-next" aria-label="次の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_right
                    </span>
                    <span class="sr-only">次の画像へ</span>
                  </button>
                </div>
                <!-- シェアボタン -->
                <!-- <button class="prj-card-share">
  <img
    src="assets/images/common/share.png"
    alt="シェア"
    width="24"
    height="24"
    loading="lazy"
  />
</button> -->
                <!-- カテゴリ -->
                <a href="#" class="prj-card-category bg-[#DEDEDE]" aria-label="カテゴリー: 記事カテゴリメイン"
                  itemprop="articleSection">
                  <span>記事カテゴリメイン</span>
                </a>
              </div>

              <div class="prj-card-body">
                <a href="#" aria-describedby="card-desc-3" itemprop="url">
                  <h3 class="prj-card-title" itemprop="headline">
                    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
                  </h3>
                </a>
                <div id="card-desc-3" class="sr-only">この記事の詳細を見る</div>

                <div class="prj-card-author-info">
                  <div class="prj-card-author">
                    <a href="#" class="prj-card-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                      <span
                        itemprop="name">ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="prj-card-foot">
              <time class="prj-card-date" datetime="2025-05-05" itemprop="datePublished">
                <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                  schedule
                </span>
                <span>2025.05.05</span>
              </time>
              <div class="prj-card-stats">
                <div class="prj-card-views">
                  <span class="prj-card-views-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-visibility-sm">
                      visibility
                    </span></span>
                  <span aria-label="閲覧数 99.9k">99.9k</span>
                </div>
                <div class="prj-card-likes">
                  <span class="prj-card-likes-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-favorite-sm" aria-hidden="true">
                      favorite
                    </span>
                  </span>
                  <span aria-label="いいね数 999k">999k</span>
                </div>
                <div class="prj-card-comments">
                  <span class="prj-card-comments-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-comment-sm" aria-hidden="true">
                      chat
                    </span></span>
                  <span aria-label="コメント数 456">456</span>
                </div>
              </div>
            </div>
            <meta itemprop="description" content="この記事の説明文がここに入ります。" />
          </article>
          <!-- カードコンポーネント4 -->
          <article class="prj-card-component swiper-slide !basis-auto" itemscope itemtype="http://schema.org/Article">
            <div class="prj-card-flex">
              <div class="prj-card-head">
                <!-- サムネイル複数枚のとき（スライダー） -->
                <div class="prj-card-thumbnail swiper card-swiper" aria-roledescription="carousel"
                  aria-label="記事4のスライドショー">
                  <div class="swiper-wrapper">
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="1枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-12.jpg" alt="記事のサムネイル画像: 製品ラインナップ" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="2枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-5.jpg" alt="記事のサムネイル画像: 製品詳細" width="250" height="250"
                          loading="lazy" itemprop="image" />
                      </div>
                    </a>
                  </div>
                  <!-- ナビゲーションボタン -->
                  <button class="swiper-button-prev" aria-label="前の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_left
                    </span>
                    <span class="sr-only">前の画像へ</span>
                  </button>
                  <button class="swiper-button-next" aria-label="次の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_right
                    </span>
                    <span class="sr-only">次の画像へ</span>
                  </button>
                </div>
                <!-- シェアボタン -->
                <!-- <button class="prj-card-share">
  <img
    src="assets/images/common/share.png"
    alt="シェア"
    width="24"
    height="24"
    loading="lazy"
  />
</button> -->
                <!-- カテゴリ -->
                <a href="#" class="prj-card-category bg-[#DEDEDE]" aria-label="カテゴリー: 記事カテゴリメイン"
                  itemprop="articleSection">
                  <span>記事カテゴリメイン</span>
                </a>
              </div>

              <div class="prj-card-body">
                <a href="#" aria-describedby="card-desc-4" itemprop="url">
                  <h3 class="prj-card-title" itemprop="headline">
                    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
                  </h3>
                </a>
                <div id="card-desc-4" class="sr-only">この記事の詳細を見る</div>

                <div class="prj-card-author-info">
                  <div class="prj-card-author">
                    <a href="#" class="prj-card-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                      <span
                        itemprop="name">ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="prj-card-foot">
              <time class="prj-card-date" datetime="2025-05-05" itemprop="datePublished">
                <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                  schedule
                </span>
                <span>2025.05.05</span>
              </time>
              <div class="prj-card-stats">
                <div class="prj-card-views">
                  <span class="prj-card-views-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-visibility-sm">
                      visibility
                    </span></span>
                  <span aria-label="閲覧数 99.9k">99.9k</span>
                </div>
                <div class="prj-card-likes">
                  <span class="prj-card-likes-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-favorite-sm" aria-hidden="true">
                      favorite
                    </span>
                  </span>
                  <span aria-label="いいね数 999k">999k</span>
                </div>
                <div class="prj-card-comments">
                  <span class="prj-card-comments-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-comment-sm" aria-hidden="true">
                      chat
                    </span></span>
                  <span aria-label="コメント数 456">456</span>
                </div>
              </div>
            </div>
            <meta itemprop="description" content="この記事の説明文がここに入ります。" />
          </article>
          <!-- カードコンポーネント5 -->
          <article class="prj-card-component swiper-slide !basis-auto" itemscope itemtype="http://schema.org/Article">
            <div class="prj-card-flex">
              <div class="prj-card-head">
                <!-- サムネイル複数枚のとき（スライダー） -->
                <div class="prj-card-thumbnail swiper card-swiper" aria-roledescription="carousel"
                  aria-label="記事5のスライドショー">
                  <div class="swiper-wrapper">
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="1枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-6.jpg" alt="記事のサムネイル画像: Theme-aの新製品" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                    <a class="prj-card-image-link swiper-slide" href="" aria-roledescription="slide"
                      aria-label="2枚目の画像">
                      <div class="prj-card-image">
                        <img src="assets/images/theme-a/theme-a-5.jpg" alt="記事のサムネイル画像: Theme-aのコンセプト" width="250"
                          height="250" loading="lazy" itemprop="image" />
                      </div>
                    </a>
                  </div>
                  <!-- ナビゲーションボタン -->
                  <button class="swiper-button-prev" aria-label="前の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_left
                    </span>
                    <span class="sr-only">前の画像へ</span>
                  </button>
                  <button class="swiper-button-next" aria-label="次の画像へ">
                    <span class="material-symbols-rounded icon-chevron-md" aria-hidden="true">
                      chevron_right
                    </span>
                    <span class="sr-only">次の画像へ</span>
                  </button>
                </div>
                <!-- シェアボタン -->
                <!-- <button class="prj-card-share">
  <img
    src="assets/images/common/share.png"
    alt="シェア"
    width="24"
    height="24"
    loading="lazy"
  />
</button> -->
                <!-- カテゴリ -->
                <a href="#" class="prj-card-category bg-[#DEDEDE]" aria-label="カテゴリー: 記事カテゴリメイン"
                  itemprop="articleSection">
                  <span>記事カテゴリメイン</span>
                </a>
              </div>

              <div class="prj-card-body">
                <a href="#" aria-describedby="card-desc-5" itemprop="url">
                  <h3 class="prj-card-title" itemprop="headline">
                    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
                  </h3>
                </a>
                <div id="card-desc-5" class="sr-only">この記事の詳細を見る</div>

                <div class="prj-card-author-info">
                  <div class="prj-card-author">
                    <a href="#" class="prj-card-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                      <span
                        itemprop="name">ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。ここにアカウント名が入ります。</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="prj-card-foot">
              <time class="prj-card-date" datetime="2025-05-05" itemprop="datePublished">
                <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                  schedule
                </span>
                <span>2025.05.05</span>
              </time>
              <div class="prj-card-stats">
                <div class="prj-card-views">
                  <span class="prj-card-views-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-visibility-sm">
                      visibility
                    </span></span>
                  <span aria-label="閲覧数 99.9k">99.9k</span>
                </div>
                <div class="prj-card-likes">
                  <span class="prj-card-likes-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-favorite-sm" aria-hidden="true">
                      favorite
                    </span>
                  </span>
                  <span aria-label="いいね数 999k">999k</span>
                </div>
                <div class="prj-card-comments">
                  <span class="prj-card-comments-icon" aria-hidden="true"><span
                      class="material-symbols-outlined icon-comment-sm" aria-hidden="true">
                      chat
                    </span></span>
                  <span aria-label="コメント数 456">456</span>
                </div>
              </div>
            </div>
            <meta itemprop="description" content="この記事の説明文がここに入ります。" />
          </article>
        </div>

        <!-- ナビゲーションボタン -->
        <button class="section-swiper-button-prev md:!flex !rounded-[50%] !border !border-[#d9d9d9] !w-[44px] !h-[44px]"
          aria-label="前のスライドへ">
          <span class="material-symbols-outlined text-[#333333] icon-arrow-back-md" aria-hidden="true">
            arrow_back
          </span>
        </button>
        <button class="section-swiper-button-next md:!flex !rounded-[50%] !border !border-[#d9d9d9] !w-[44px] !h-[44px]"
          aria-label="次のスライドへ">
          <span class="material-symbols-outlined text-[#333333] icon-arrow-forward-md" aria-hidden="true">
            arrow_forward
          </span>
        </button>
      </div>
    </div>
  </div>
</section>