<div class="prj-article-content-body" itemprop="articleBody">
  <h2>
    大見出しはこのサイズです。(h2)大見出しはこのサイズです。(h2)大見出しはこのサイズです。(h2)
  </h2>
  <p>
    本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。
  </p>
  <div class="prj-article-content-image">
    <picture>
      <!-- スマホ画面サイズ用の画像 (599px以下の場合にのみロードされる) -->
      <source media="(max-width: 599px)" srcset="assets/images/theme-a/theme-a-detail-2-sp.jpg" />
      <!-- タブレットサイズ以上の画面用画像 (600px以上の場合にのみロードされる) -->
      <source media="(min-width: 600px)" srcset="assets/images/theme-a/theme-a-detail-2.jpg" />
      <!-- フォールバック用の画像 (picture要素をサポートしない古いブラウザ用) -->
      <img src="assets/images/theme-a/theme-a-detail-2.jpg" alt="記事の本文に関連する説明画像" width="680" height="424"
        loading="lazy" />
    </picture>
  </div>
  <h3>
    小見出しはこのサイズです。(h3)小見出しはこのサイズです。(h3)小見出しはこのサイズです。(h3)
  </h3>
  <p>
    本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。
  </p>
  <div class="prj-article-content-image">
    <picture>
      <!-- スマホ画面サイズ用の画像 (599px以下の場合にのみロードされる) -->
      <source media="(max-width: 599px)" srcset="assets/images/theme-a/theme-a-detail-3-sp.jpg" />
      <!-- タブレットサイズ以上の画面用画像 (600px以上の場合にのみロードされる) -->
      <source media="(min-width: 600px)" srcset="assets/images/theme-a/theme-a-detail-3.jpg" />
      <!-- フォールバック用の画像 (picture要素をサポートしない古いブラウザ用) -->
      <img src="assets/images/theme-a/theme-a-detail-3.jpg" alt="記事の小見出しに関連する説明画像" width="680" height="424"
        loading="lazy" />
    </picture>
  </div>
  <h2>
    大見出しはこのサイズです。(h2)大見出しはこのサイズです。(h2)大見出しはこのサイズです。(h2)
  </h2>
  <p>
    本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。
  </p>
  <div class="prj-article-content-image">
    <picture>
      <!-- スマホ画面サイズ用の画像 (599px以下の場合にのみロードされる) -->
      <source media="(max-width: 599px)" srcset="assets/images/theme-a/theme-a-detail-4-sp.jpg" />
      <!-- タブレットサイズ以上の画面用画像 (600px以上の場合にのみロードされる) -->
      <source media="(min-width: 600px)" srcset="assets/images/theme-a/theme-a-detail-4.jpg" />
      <!-- フォールバック用の画像 (picture要素をサポートしない古いブラウザ用) -->
      <img src="assets/images/theme-a/theme-a-detail-4.jpg" alt="記事のもう一つの大見出しに関連する説明画像" width="680" height="424"
        loading="lazy" />
    </picture>
  </div>
  <h3>
    小見出しはこのサイズです。(h3)小見出しはこのサイズです。(h3)小見出しはこのサイズです。(h3)
  </h3>
  <p>
    本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。本文のサイズはこのサイズで、ここに本文がはります。
    <br />エンターキーで改行しました。本文です。本文です。本文です。本文です。本文です。本文です。
    <br /><br />エンターキーで改行し、一行空けました。本文です。本文です。本文です。本文です。本文です。
    <br />
    <strong>太字の本文です。太字の本文です。太字の本文です。太字の本文です。太字の本文です。</strong>
    <u>下線の本文です。下線の本文です。下線の本文です。下線の本文です。下線の本文です。</u>
    <del>取り消し線の本文です。取り消し線の本文です。取り消し線の本文です。取り消し線の本文です。</del>
  </p>
  <blockquote cite="">
    <span class="material-symbols-outlined icon-quote-lg" aria-hidden="true"> format_quote </span>
    <p>
      引用は斜体になります
      text,text,text,text,text,text,text,text,text,text,text.引用は斜体になります
      text,text,text,text,text,text,text,text,text,text,text.
    </p>
  </blockquote>
  <i>Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,Italic,</i>
  <ol>
    <li>olタグの箇条書きです</li>
    <li>olタグの箇条書きです</li>
    <li>olタグの箇条書きです</li>
  </ol>
  <a href="#" class="no-visited-style">テキストリンクです。テキストリンクです。テキストリンクです。テキストリンクです。</a>
  <a href="#" class="visited-style">訪問済テキストリンクです。訪問済テキストリンクです。訪問済テキストリンクです。訪問済テキストリンクです。</a>
  <ul>
    <li>ulタグの箇条書きです</li>
    <li>ulタグの箇条書きです</li>
    <li>ulタグの箇条書きです</li>
  </ul>
</div>