<div class="prj-article-content-foot">
  <!-- タグリスト -->
  <div class="prj-article-content-tags">
    <ul class="prj-article-content-tags-list" aria-label="記事のタグ">
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
      <li class="prj-tag-component">
        <a href="#" class="prj-tag-link"><span class="prj-tag-name">tagtagtag</span><span class="prj-tag-count"><span
              class="sr-only">関連記事数: </span>(123)</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 記事へのアクション（いいねアイコン、いいね数、シェアアイコン、ブックマークアイコン、オプションアイコン） -->
  <div class="prj-article-content-actions" role="group" aria-label="記事へのアクション">
    <div class="prj-article-content-favorite">
      <button class="prj-article-content-action-button" aria-label="いいねする" type="button">
        <span class="material-symbols-outlined icon-favorite-lg" aria-hidden="true">
          favorite
        </span>
      </button>
      <span class="prj-article-content-favorite-count" aria-label="いいね数 12345">12345</span>
    </div>
    <div class="prj-article-content-share">
      <button class="prj-article-content-action-button" aria-label="共有する" type="button">
        <span class="material-symbols-outlined icon-share-lg" aria-hidden="true"> share </span>
      </button>
    </div>
    <div class="prj-article-content-bookmark">
      <button class="prj-article-content-action-button" aria-label="ブックマークする" type="button">
        <span class="material-symbols-outlined icon-bookmark-lg" aria-hidden="true">
          bookmark
        </span>
      </button>
    </div>
    <div class="prj-article-content-more">
      <button class="prj-article-content-action-button" aria-label="その他のオプション" type="button">
        <span class="material-symbols-outlined icon-more-lg" aria-hidden="true"> more_vert </span>
      </button>
    </div>
  </div>
  <!-- 著者情報、フォロー、SNS、関連記事 -->
  <div class="prj-article-content-author">
    <!-- 著者情報 -->
    <div class="prj-article-content-author-info">
      <div class="prj-article-content-author-info-flex">
        <div class="prj-article-content-author-name-box">
          <!-- 著者のサムネイル画像 -->
          <div class="prj-article-content-author-image">
            <img src="assets/images/theme-a/theme-a-detail-author-1.jpg" alt="著者「四国・九州ドライブクラブ – 大人のドライブ旅」のプロフィール画像"
              width="56" height="56" loading="lazy" />
          </div>
          <!-- 著者の名前 -->
          <a href="#" class="prj-article-content-author-name" aria-label="著者プロフィールを見る" itemprop="author" itemscope
            itemtype="http://schema.org/Person">
            <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
          </a>
        </div>
        <!-- フォロー -->
        <div class="prj-article-content-author-follow">
          <button class="prj-article-content-follow-button" type="button" aria-label="著者をフォローする">
            <span class="material-symbols-outlined" aria-hidden="true"> add </span>
            <span class="prj-article-content-author-follow-text">フォロー</span>
          </button>
        </div>
      </div>
      <!-- ディスクリプション -->
      <p class="prj-article-content-author-description" itemprop="description">
        九州の豊かな自然を楽しむドライブが好きな皆さんへ。このコミュニティは、四国を中心に九州地方の魅力あるドライブコースを紹介し、参加者が共にドライブを楽しむための情報を共有する場所です。車の愛好者として、美しい風景や食のスポットを巡り、ゆったりとした時間を共有しましょう。九州の美しい道を走りながら、新しい発見や仲間との交流を楽しみましょう。みんなで「大人の贅沢なドライブ」を体験しませんか？
      </p>
      <!-- SNS Instagram、Facebook、X、youtube、TikTok、LINE、Open In New Tab  -->
      <div class="prj-article-content-author-sns" role="navigation" aria-label="著者のSNSリンク">
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のInstagramへ">
          <img src="assets/images/common/sns-instagram.png" alt="Instagram" width="20" height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のFacebookへ">
          <img src="assets/images/common/sns-facebook.png" alt="Facebook" width="20" height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のXへ">
          <img src="assets/images/common/sns-x.png" alt="X" width="20" height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のYouTubeへ">
          <img src="assets/images/common/sns-youtube.png" alt="YouTube" width="20" height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のTikTokへ">
          <img src="assets/images/common/sns-tiktok.png" style="width: 20px; height: 20px" alt="TikTok" width="20"
            height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のLINEへ">
          <img src="assets/images/common/sns-line.png" alt="LINE" width="20" height="20" />
        </a>
        <a href="#" class="prj-article-content-author-sns-link" aria-label="著者のウェブサイトへ（新しいタブで開きます）" target="_blank"
          rel="noopener">
          <span class="material-symbols-outlined" aria-hidden="true"> open_in_new </span>
          <span class="sr-only">著者のウェブサイト（新しいタブで開く）</span>
        </a>
      </div>
    </div>
    <!-- 関連記事 -->
    <div class="prj-article-content-related" role="navigation" aria-label="関連記事">
      <a href="#" class="prj-article-content-related-prev-box">
        <div class="prj-article-content-related-prev">
          <span class="material-symbols-outlined icon-chevron-lg" aria-hidden="true">
            chevron_left
          </span>
          <div class="prj-article-content-related-text-box">
            <span class="prj-article-content-related-text">前の記事</span>
            <span class="prj-article-content-related-title">ここに前の記事のタイトルが入ります。ここに前の記事のタイトルが入ります。</span>
          </div>
        </div>
      </a>
      <a href="#" class="prj-article-content-related-next-box">
        <div class="prj-article-content-related-next">
          <span class="material-symbols-outlined icon-chevron-lg" aria-hidden="true">
            chevron_right
          </span>
          <div class="prj-article-content-related-text-box">
            <span class="prj-article-content-related-text">次の記事</span>
            <span class="prj-article-content-related-title">ここに次の記事のタイトルが入ります。ここに次の記事のタイトルが入ります。</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- コメントエリア -->
  <div class="prj-article-content-comments">
    <h2 class="prj-article-content-comments-title" id="comments-section">コメント</h2>
    <!-- コメントリスト -->
    <ul class="prj-article-content-comments-list" aria-labelledby="comments-section">
      <!-- （返信ありのliにはhas-responsesクラスを追加してください） -->
      <li class="prj-comment-component has-responses">
        <!-- 投稿者 -->
        <div class="prj-comment-author">
          <!-- 著者のサムネイル画像 -->
          <div class="prj-comment-image">
            <img src="assets/images/theme-a/theme-a-detail-author-1.jpg" alt="コメント投稿者のプロフィール画像" width="42" height="42"
              loading="lazy" />
          </div>
          <div class="prj-comment-info">
            <div class="prj-comment-info-flex">
              <!-- コメントの名前と日時 -->
              <div class="prj-comment-info-name-box">
                <!-- 著者の名前 -->
                <a href="#" class="prj-comment-name" aria-label="コメント投稿者のプロフィールを見る" itemprop="author" itemscope
                  itemtype="http://schema.org/Person">
                  <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
                </a>
                <!-- コメントの日時（アイコン付き） -->
                <time class="prj-comment-time" datetime="2024-12-01">
                  <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                    schedule
                  </span>
                  <span class="prj-comment-date">2024.12.01</span>
                  <!-- is-editedクラスを付与すると表示される -->
                  <span class="prj-comment-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                </time>
              </div>
              <!-- オプション -->
              <div class="prj-more-option-component">
                <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                  <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                    more_vert
                  </span>
                </button>
                <div class="prj-more-option">
                  <ul class="prj-more-option-is-other">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                        <span class="material-icons" aria-hidden="true"> outlined_flag </span>
                        コメントを報告する
                      </button>
                    </li>
                  </ul>
                  <ul class="prj-more-option-is-self">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> edit_note </span>
                        編集する
                      </button>
                    </li>
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> delete_outline </span>
                        削除する
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- オプション〆 -->
            </div>
            <div class="prj-comment-text-box">
              <!-- コメントの本文 -->
              <p class="prj-comment-text">
                コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。
              </p>
              <!-- 返信する -->
              <button class="prj-comment-reply-button" type="button" aria-label="コメントを返信する">
                <span class="material-icons"> reply </span>
                返信する
              </button>
              <!-- コメント投稿フォーム -->
              <div class="prj-comment-form-component">
                <!-- キャンセルボタン -->
                <button class="prj-comment-form-cancel-button" type="button" aria-label="コメント投稿フォームを閉じる">
                  <span class="material-symbols-outlined" aria-hidden="true"> close </span>
                  キャンセル
                </button>
                <form class="prj-comment-form" aria-label="コメント投稿フォーム">
                  <div class="prj-comment-form-flex">
                    <!-- サムネイル画像 -->
                    <div class="prj-comment-form-image">
                      <img src="assets/images/theme-a/theme-a-detail-author-5.jpg" alt="現在のユーザーのプロフィール画像" width="42"
                        height="42" loading="lazy" />
                    </div>
                    <!-- コメント入力欄 -->
                    <div class="prj-comment-form-input">
                      <label for="comment" class="sr-only">コメント入力欄</label>
                      <textarea name="comment" id="comment" placeholder="コメントする..." rows="1" cols="30" required
                        aria-required="true"></textarea>
                    </div>
                  </div>
                  <!-- 送信ボタン -->
                  <button class="prj-comment-form-submit-button">送信</button>
                </form>
              </div>
              <!-- コメント投稿フォーム〆 -->
            </div>
            <!-- （以降～〆は返信がある場合のみ実装する範囲） -->
            <!-- コメントの返信エリアを開閉するアコーディオン -->
            <div class="prj-comment-accordion">
              <!-- 返信内容の開閉ボタン（レビュー用にaria-expanded="true"で初期表示で開く） -->
              <button class="prj-comment-accordion-button" aria-expanded="true" aria-controls="response-1"
                type="button">
                <span class="prj-comment-accordion-text">返信1件</span>
                <!-- アコーディオンの開閉アイコン -->
                <span class="material-symbols-outlined icon-keyboard-arrow-lg" aria-hidden="true">
                  keyboard_arrow_up
                </span>
              </button>
              <!-- コメントへの返信 -->
              <div class="prj-comment-responses" id="response-1">
                <ul class="prj-comment-responses-list" aria-label="コメントへの返信">
                  <li class="prj-comment-component">
                    <!-- 投稿者 -->
                    <div class="prj-comment-author">
                      <!-- 著者のサムネイル画像 -->
                      <div class="prj-comment-image">
                        <img src="assets/images/theme-a/theme-a-detail-author-2.jpg" alt="返信者のプロフィール画像" width="42"
                          height="42" loading="lazy" />
                      </div>
                      <div class="prj-comment-info">
                        <div class="prj-comment-info-flex">
                          <!-- コメントの名前と日時 -->
                          <div class="prj-comment-info-name-box">
                            <!-- 著者の名前 -->
                            <a href="#" class="prj-comment-name" aria-label="返信者のプロフィールを見る" itemprop="author" itemscope
                              itemtype="http://schema.org/Person">
                              <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
                            </a>
                            <!-- コメントの日時（アイコン付き） -->
                            <time class="prj-comment-time" datetime="2024-12-01">
                              <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                                schedule
                              </span>
                              <span class="prj-comment-date">2024.12.01 16:05</span>
                              <!-- is-editedクラスを付与すると表示される -->
                              <span class="prj-comment-edited is-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                            </time>
                          </div>
                          <!-- オプション -->
                          <div class="prj-more-option-component">
                            <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                              <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                                more_vert
                              </span>
                            </button>
                            <div class="prj-more-option">
                              <ul class="prj-more-option-is-other">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                                    <span class="material-icons" aria-hidden="true">
                                      outlined_flag
                                    </span>
                                    コメントを報告する
                                  </button>
                                </li>
                              </ul>
                              <ul class="prj-more-option-is-self">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      edit_note
                                    </span>
                                    編集する
                                  </button>
                                </li>
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      delete_outline
                                    </span>
                                    削除する
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- オプション〆 -->
                        </div>
                        <!-- 返信コメント -->
                        <div class="prj-comment-text-box">
                          <!-- コメントの本文 -->
                          <p class="prj-comment-text">
                            コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。
                          </p>
                          <!-- もっと見る -->
                          <button class="prj-comment-more-text-button prj-comment-more-button" type="button"
                            aria-label="返信をもっと見る">
                            もっと見る
                          </button>
                          <!-- 閉じる -->
                          <button class="prj-comment-more-text-button prj-comment-close-button" type="button"
                            aria-label="返信を閉じる">
                            閉じる
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- is-self:自分自身のコメント -->
                  <li class="prj-comment-component is-self">
                    <!-- 投稿者 -->
                    <div class="prj-comment-author">
                      <!-- 著者のサムネイル画像 -->
                      <div class="prj-comment-image">
                        <img src="assets/images/theme-a/theme-a-detail-author-5.jpg" alt="返信者のプロフィール画像" width="42"
                          height="42" loading="lazy" />
                      </div>
                      <div class="prj-comment-info">
                        <div class="prj-comment-info-flex">
                          <!-- コメントの名前と日時 -->
                          <div class="prj-comment-info-name-box">
                            <!-- 著者の名前 -->
                            <a href="#" class="prj-comment-name" aria-label="返信者のプロフィールを見る" itemprop="author" itemscope
                              itemtype="http://schema.org/Person">
                              <span itemprop="name">沖縄ドライブ旅</span>
                            </a>
                            <!-- コメントの日時（アイコン付き） -->
                            <time class="prj-comment-time" datetime="2024.12.01 16:10">
                              <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                                schedule
                              </span>
                              <span class="prj-comment-date">2024.12.01 16:10</span>
                              <!-- is-editedクラスを付与すると表示される -->
                              <span class="prj-comment-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                            </time>
                          </div>
                          <!-- オプション -->
                          <div class="prj-more-option-component">
                            <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                              <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                                more_vert
                              </span>
                            </button>
                            <div class="prj-more-option">
                              <ul class="prj-more-option-is-other">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                                    <span class="material-icons" aria-hidden="true">
                                      outlined_flag
                                    </span>
                                    コメントを報告する
                                  </button>
                                </li>
                              </ul>
                              <ul class="prj-more-option-is-self">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      edit_note
                                    </span>
                                    編集する
                                  </button>
                                </li>
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      delete_outline
                                    </span>
                                    削除する
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- オプション〆 -->
                        </div>
                        <!-- 返信コメント -->
                        <div class="prj-comment-text-box">
                          <!-- コメントの本文 -->
                          <p class="prj-comment-text">よろしくお願いします。</p>
                          <!-- もっと見る -->
                          <!-- <button
                                            class="prj-comment-more-text-button prj-comment-more-button"
                                            type="button"
                                            aria-label="返信をもっと見る"
                                          >
                                            もっと見る
                                          </button> -->
                          <!-- 閉じる -->
                          <!-- <button
                                            class="prj-comment-more-text-button prj-comment-close-button"
                                            type="button"
                                            aria-label="返信を閉じる"
                                          >
                                            閉じる
                                          </button> -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- （以降～〆は返信がある場合のみ実装する範囲）〆 -->
          </div>
        </div>
      </li>
      <!-- （返信ありのliにはhas-responsesクラスを追加してください） -->
      <li class="prj-comment-component has-responses">
        <!-- 投稿者 -->
        <div class="prj-comment-author">
          <!-- 著者のサムネイル画像 -->
          <div class="prj-comment-image">
            <img src="assets/images/theme-a/theme-a-detail-author-3.jpg" alt="コメント投稿者のプロフィール画像" width="42" height="42"
              loading="lazy" />
          </div>
          <div class="prj-comment-info">
            <div class="prj-comment-info-flex">
              <!-- コメントの名前と日時 -->
              <div class="prj-comment-info-name-box">
                <!-- 著者の名前 -->
                <a href="#" class="prj-comment-name" aria-label="コメント投稿者のプロフィールを見る" itemprop="author" itemscope
                  itemtype="http://schema.org/Person">
                  <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
                </a>
                <!-- コメントの日時（アイコン付き） -->
                <time class="prj-comment-time" datetime="2024-12-01">
                  <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                    schedule
                  </span>
                  <span class="prj-comment-date">2024.12.01</span>
                  <!-- is-editedクラスを付与すると表示される -->
                  <span class="prj-comment-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                </time>
              </div>
              <!-- オプション -->
              <div class="prj-more-option-component">
                <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                  <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                    more_vert
                  </span>
                </button>
                <div class="prj-more-option">
                  <ul class="prj-more-option-is-other">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                        <span class="material-icons" aria-hidden="true"> outlined_flag </span>
                        コメントを報告する
                      </button>
                    </li>
                  </ul>
                  <ul class="prj-more-option-is-self">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> edit_note </span>
                        編集する
                      </button>
                    </li>
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> delete_outline </span>
                        削除する
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- オプション〆 -->
            </div>
            <div class="prj-comment-text-box">
              <!-- コメントの本文 -->
              <p class="prj-comment-text">
                コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。
              </p>
              <!-- 返信する -->
              <button class="prj-comment-reply-button" type="button" aria-label="コメントを返信する">
                <span class="material-icons"> reply </span>
                返信する
              </button>
              <!-- コメント投稿フォーム -->
              <div class="prj-comment-form-component">
                <!-- キャンセルボタン -->
                <button class="prj-comment-form-cancel-button" type="button" aria-label="コメント投稿フォームを閉じる">
                  <span class="material-symbols-outlined" aria-hidden="true"> close </span>
                  キャンセル
                </button>
                <form class="prj-comment-form" aria-label="コメント投稿フォーム">
                  <div class="prj-comment-form-flex">
                    <!-- サムネイル画像 -->
                    <div class="prj-comment-form-image">
                      <img src="assets/images/theme-a/theme-a-detail-author-5.jpg" alt="現在のユーザーのプロフィール画像" width="42"
                        height="42" loading="lazy" />
                    </div>
                    <!-- コメント入力欄 -->
                    <div class="prj-comment-form-input">
                      <label for="comment" class="sr-only">コメント入力欄</label>
                      <textarea name="comment" id="comment" placeholder="コメントする..." rows="1" cols="30" required
                        aria-required="true"></textarea>
                    </div>
                  </div>
                  <!-- 送信ボタン -->
                  <button class="prj-comment-form-submit-button">送信</button>
                </form>
              </div>
              <!-- コメント投稿フォーム〆 -->
            </div>
            <!-- （以降～〆は返信がある場合のみ実装する範囲） -->
            <!-- コメントの返信エリアを開閉するアコーディオン -->
            <div class="prj-comment-accordion">
              <!-- 返信内容の開閉ボタン（レビュー用にaria-expanded="true"で初期表示で開く） -->
              <button class="prj-comment-accordion-button" aria-expanded="false" aria-controls="response-1"
                type="button">
                <span class="prj-comment-accordion-text">返信1件</span>
                <!-- アコーディオンの開閉アイコン -->
                <span class="material-symbols-outlined icon-keyboard-arrow-lg" aria-hidden="true">
                  keyboard_arrow_up
                </span>
              </button>
              <!-- コメントへの返信 -->
              <div class="prj-comment-responses" id="response-1">
                <ul class="prj-comment-responses-list" aria-label="コメントへの返信">
                  <li class="prj-comment-component">
                    <!-- 投稿者 -->
                    <div class="prj-comment-author">
                      <!-- 著者のサムネイル画像 -->
                      <div class="prj-comment-image">
                        <img src="assets/images/theme-a/theme-a-detail-author-2.jpg" alt="返信者のプロフィール画像" width="42"
                          height="42" loading="lazy" />
                      </div>
                      <div class="prj-comment-info">
                        <div class="prj-comment-info-flex">
                          <!-- コメントの名前と日時 -->
                          <div class="prj-comment-info-name-box">
                            <!-- 著者の名前 -->
                            <a href="#" class="prj-comment-name" aria-label="返信者のプロフィールを見る" itemprop="author" itemscope
                              itemtype="http://schema.org/Person">
                              <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
                            </a>
                            <!-- コメントの日時（アイコン付き） -->
                            <time class="prj-comment-time" datetime="2024-12-01">
                              <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                                schedule
                              </span>
                              <span class="prj-comment-date">2024.12.01 16:05</span>
                              <!-- is-editedクラスを付与すると表示される -->
                              <span class="prj-comment-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                            </time>
                          </div>
                          <!-- オプション -->
                          <div class="prj-more-option-component">
                            <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                              <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                                more_vert
                              </span>
                            </button>
                            <div class="prj-more-option">
                              <ul class="prj-more-option-is-other">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                                    <span class="material-icons" aria-hidden="true">
                                      outlined_flag
                                    </span>
                                    コメントを報告する
                                  </button>
                                </li>
                              </ul>
                              <ul class="prj-more-option-is-self">
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      edit_note
                                    </span>
                                    編集する
                                  </button>
                                </li>
                                <li>
                                  <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                                    <span class="material-icons" aria-hidden="true">
                                      delete_outline
                                    </span>
                                    削除する
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- オプション〆 -->
                        </div>
                        <!-- 返信コメント -->
                        <div class="prj-comment-text-box">
                          <!-- コメントの本文 -->
                          <p class="prj-comment-text">
                            コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。
                          </p>
                          <!-- もっと見る -->
                          <button class="prj-comment-more-text-button prj-comment-more-button" type="button"
                            aria-label="返信をもっと見る">
                            もっと見る
                          </button>
                          <!-- 閉じる -->
                          <button class="prj-comment-more-text-button prj-comment-close-button" type="button"
                            aria-label="返信を閉じる">
                            閉じる
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- （以降～〆は返信がある場合のみ実装する範囲）〆 -->
          </div>
        </div>
      </li>
      <!-- （返信ありのliにはhas-responsesクラスを追加してください） -->
      <li class="prj-comment-component">
        <!-- 投稿者 -->
        <div class="prj-comment-author">
          <!-- 著者のサムネイル画像 -->
          <div class="prj-comment-image">
            <img src="assets/images/theme-a/theme-a-detail-author-4.jpg" alt="コメント投稿者のプロフィール画像" width="42" height="42"
              loading="lazy" />
          </div>
          <div class="prj-comment-info">
            <div class="prj-comment-info-flex">
              <!-- コメントの名前と日時 -->
              <div class="prj-comment-info-name-box">
                <!-- 著者の名前 -->
                <a href="#" class="prj-comment-name" aria-label="コメント投稿者のプロフィールを見る" itemprop="author" itemscope
                  itemtype="http://schema.org/Person">
                  <span itemprop="name">四国・九州ドライブクラブ – 大人のドライブ旅</span>
                </a>
                <!-- コメントの日時（アイコン付き） -->
                <time class="prj-comment-time" datetime="2024-12-01">
                  <span class="material-symbols-outlined icon-schedule-sm" aria-hidden="true">
                    schedule
                  </span>
                  <span class="prj-comment-date">2024.12.01</span>
                  <!-- is-editedクラスを付与すると表示される -->
                  <span class="prj-comment-edited" data-edit-time="2024.12.01 16:50">(編集済み)</span>
                </time>
              </div>
              <!-- オプション -->
              <div class="prj-more-option-component">
                <button class="prj-more-option-more-button" aria-label="返信のその他オプション" type="button">
                  <span class="material-symbols-outlined icon-more-lg" aria-hidden="true">
                    more_vert
                  </span>
                </button>
                <div class="prj-more-option">
                  <ul class="prj-more-option-is-other">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="コメントを報告する">
                        <span class="material-icons" aria-hidden="true"> outlined_flag </span>
                        コメントを報告する
                      </button>
                    </li>
                  </ul>
                  <ul class="prj-more-option-is-self">
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> edit_note </span>
                        編集する
                      </button>
                    </li>
                    <li>
                      <button class="prj-more-option-button" type="button" aria-label="返信を編集する">
                        <span class="material-icons" aria-hidden="true"> delete_outline </span>
                        削除する
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- オプション〆 -->
            </div>
            <div class="prj-comment-text-box">
              <!-- コメントの本文 -->
              <p class="prj-comment-text">
                コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。コメントサイズはこのサイズです。
              </p>
              <!-- 返信する -->
              <button class="prj-comment-reply-button" type="button" aria-label="コメントを返信する">
                <span class="material-icons"> reply </span>
                返信する
              </button>
              <!-- コメント投稿フォーム -->
              <div class="prj-comment-form-component">
                <!-- キャンセルボタン -->
                <button class="prj-comment-form-cancel-button" type="button" aria-label="コメント投稿フォームを閉じる">
                  <span class="material-symbols-outlined" aria-hidden="true"> close </span>
                  キャンセル
                </button>
                <form class="prj-comment-form" aria-label="コメント投稿フォーム">
                  <div class="prj-comment-form-flex">
                    <!-- サムネイル画像 -->
                    <div class="prj-comment-form-image">
                      <img src="assets/images/theme-a/theme-a-detail-author-5.jpg" alt="現在のユーザーのプロフィール画像" width="42"
                        height="42" loading="lazy" />
                    </div>
                    <!-- コメント入力欄 -->
                    <div class="prj-comment-form-input">
                      <label for="comment" class="sr-only">コメント入力欄</label>
                      <textarea name="comment" id="comment" placeholder="コメントする..." rows="1" cols="30" required
                        aria-required="true"></textarea>
                    </div>
                  </div>
                  <!-- 送信ボタン -->
                  <button class="prj-comment-form-submit-button">送信</button>
                </form>
              </div>
              <!-- コメント投稿フォーム〆 -->
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- コメント投稿フォーム -->
    <div class="prj-comment-form-component">
      <!-- キャンセルボタン -->
      <!-- <button
                        class="prj-comment-form-cancel-button"
                        type="button"
                        aria-label="コメント投稿フォームを閉じる"
                      >
                        <span class="material-symbols-outlined" aria-hidden="true"> close </span>
                        キャンセル
                      </button> -->
      <form class="prj-comment-form" aria-label="コメント投稿フォーム">
        <div class="prj-comment-form-flex">
          <!-- サムネイル画像 -->
          <div class="prj-comment-form-image">
            <img src="assets/images/theme-a/theme-a-detail-author-5.jpg" alt="現在のユーザーのプロフィール画像" width="42" height="42"
              loading="lazy" />
          </div>
          <!-- コメント入力欄 -->
          <div class="prj-comment-form-input">
            <label for="comment" class="sr-only">コメント入力欄</label>
            <textarea name="comment" id="comment" placeholder="コメントする..." rows="1" cols="30" required
              aria-required="true"></textarea>
          </div>
        </div>
        <!-- 送信ボタン -->
        <button class="prj-comment-form-submit-button">送信</button>
      </form>
    </div>
    <!-- コメント投稿フォーム〆 -->
  </div>
</div>